[2014-05-30 13:35] bvssvni opened #2 "Existing Pure rust image libraries"
https://github.com/ccgn/image-formats

[2014-06-02 16:33] ccgn opened #5 "Decoding api"
# Sequential Decoding

This is a proposed trait that all image decoders will implement:

[code]

Where the ImageResult is the type:

[code]

And ImageError is an enumeration of common errors that can occur while decoding.

[2014-06-04 19:08] bvssvni opened #9 "Update to latest Rust-Empty"
This uses the old one clearing the Terminal window.

[2014-06-04 19:11] bvssvni opened #10 "Add .gitignore"
Can use the command `make git-ignore`.

[2014-06-04 19:12] #9 closed, assigned to bvssvni

[2014-06-04 19:12] #10 closed, assigned to bvssvni

[2014-06-07 16:04] ghost opened #15 "Problem trying to load an image"
@ccgn

I get "task '<main>' failed at 'unimplemented', src/zlib.rs:37" when trying to draw this image:

![block](https://cloud.githubusercontent.com/assets/6350223/3209135/56d1e9da-ee5d-11e3-8b39-6b924df43058.png)

[2014-06-07 19:22] #15 closed, assigned to nobody

[2014-06-14 08:05] bvssvni opened #27 "cannot borrow immutable argument `method`"
I think this is triggered by a change in Rust where arguments must be declared 'mut'.

[code]

[2014-06-14 08:13] #27 closed, assigned to bvssvni

[2014-06-22 11:44] bvssvni opened #34 "Add `ImmutablePixelIterator` and `MutablePixelIterator`"
It would be nice to have a pixel iterator which returned the color and coordinate of the pixel.

There could be one `ImmutablePixelIterator` and one `MutablePixelIterator`. The last one allows you to modify the color.

[2014-06-22 11:48] #2 closed, assigned to nobody

[2014-06-22 12:11] nwin opened #35 "Adhere to the rust coding conventions"
Mainly the tabs should be converted to 4 spaces.

https://github.com/rust-lang/rust/wiki/Note-style-guide

[2014-06-24 19:50] leonkunert opened #37 "Update to Cargo"
Create Cargo.toml

[2014-06-25 06:37] #37 closed, assigned to nobody

[2014-06-28 12:03] bvssvni opened #45 "Distance transform"
A distance transform is a way to generate an image where each value tells the distance to the closest "obstacle":

http://cs.brown.edu/~pff/papers/dt.pdf

http://en.wikipedia.org/wiki/Distance_transform

[2014-06-29 00:54] #35 closed, assigned to nobody

[2014-06-30 09:35] bvssvni opened #47 "Failing with latest Rust nightly"
[code]

[code]

[2014-06-30 12:14] #47 closed, assigned to nobody

[2014-07-07 02:28] TyOverby opened #49 "Integer type inference breaks decoder.rs"
[code]

[2014-07-07 02:34] #49 closed, assigned to nobody

[2014-07-29 17:32] bvssvni opened #54 "Adobe Generic Image"
http://www.boost.org/doc/libs/1_55_0/libs/gil/doc/index.html

[2014-07-29 18:34] bvssvni opened #55 "Add how to use it with Cargo to README"
Add the following to the Cargo.toml in your project:

[code]

[2014-07-29 18:39] bvssvni opened #56 "Add fractal image to README"
The markdown syntax, taken from https://github.com/bvssvni/rust-snake

[code]

[2014-07-29 18:50] bvssvni opened #57 "Saving images relative to current executable"
On OSX, when double-clicking an executable it opens up with the current directory set to the user home directory.

When double-clicking the 'fractal' example it outputs to the home directory.

The correct way to deal with it is using the same thing that `AssetStore` does:
https://github.com/PistonDevelopers/piston/blob/master/src/asset_store.rs#L32

[2014-07-29 19:00] bvssvni opened #58 "Release 0.1"
This issue will serve as todo list for the preparation of the 0.1 release. Feel free to edit this comment.
# Todo list
- [x] Update Cargo.toml
- [x] Put the release notes somewhere

[2014-07-29 19:07] #56 closed, assigned to nobody

[2014-07-29 19:07] #55 closed, assigned to nobody

[2014-07-29 19:10] #5 closed, assigned to nobody

[2014-08-02 08:44] abonander opened #60 "Critical error in `ImageBuf::from_fn`"
The body of `ImageBuf::from_fn` contains a critical programming error:

[code]

The oversight here is that `pixels` will only be `height` long, and not `width * height` long. This causes strange errors down the road when doing anything with a significant area of the image that should be completely within the vector bounds if the vector was the correct size.

When I first came across this bug I tho

[2014-08-02 19:44] #60 closed, assigned to nobody

[2014-08-11 00:24] abonander opened #63 "Possible issue with animated GIFs"
I don't have the error message on hand (wasn't much use anyways), but it was an index out of bounds error when iterating the pixels of an image. For some reason, the internal vector length of the `ImageBuf` did not match `width * height` and so the iterator was going past the end. I was able to reduce the problem domain to certain animated GIFs, though I cannot provide the images I used for person

[2014-08-18 19:42] bfops opened #65 "update for latest rustc + cargo"

[2014-08-18 20:13] #65 closed, assigned to nobody

[2014-08-19 18:15] nwin opened #68 "Enable rust-image in travis-ci"
@bvssvni: I suppose you have the super cow powers to do that… :)

[2014-08-19 18:24] #68 closed, assigned to bvssvni

[2014-08-20 19:47] nwin opened #70 "Support pngs with < 8 bit per pixel"
Reading is one thing. For further processing I would propose to just expand them to 8bit per pixel in `image::dynimage::decoder_to_image`.

[2014-08-23 05:57] #70 closed, assigned to nwin

[2014-08-23 13:41] nwin opened #78 "Conversion to DynamicImage is quite inefficient"
At the moment we are copying the whole image. Should be enough to just pass on the buffer and make a type cast.

[2014-08-23 14:03] #57 closed, assigned to nobody

[2014-08-24 08:11] nwin opened #79 "Decoding of 1 bit PNGs is broken"
Somehow every 8 bits get mirrored. Probably this is also the case of the 4 and 8 bit images. It is just not visible in the test images.

[2014-08-24 14:16] #78 closed, assigned to nobody

[2014-08-24 17:21] #79 closed, assigned to nwin

[2014-08-24 17:26] nwin opened #84 "Add support for reading baseline TIFF"

[2014-08-27 20:58] ajnirp opened #85 "Build error: match arms have incompatible types"
A match block in `src/png/decoder.rs` causes rust-image build to fail. Noticed this when trying to build Piston.

relevant `stderr`:

[code]

[2014-08-27 21:27] #85 closed, assigned to nobody

[2014-08-31 17:29] honza opened #89 "Static lifetime issues"
When running `cargo build`, I get the following error:

[code]

[2014-08-31 17:42] #89 closed, assigned to nobody

[2014-09-04 21:25] nwin opened #91 "GIF partially broken?"
[This sunflower](http://en.wikipedia.org/wiki/Graphics_Interchange_Format#mediaviewer/File:Sunflower_as_gif_websafe.gif) from makes `opening.rs` fail with `index out of bounds`. This is maybe related to #63. The [quilt design example](http://en.wikipedia.org/wiki/Graphics_Interchange_Format#mediaviewer/File:Quilt_design_as_46x46_uncompressed_GIF.gif) on the other hand works…

[2014-09-08 15:53] ollie opened #93 "Resize broken? (PNG)"
Hello,

Does this work for you?
The resized image seems broken at the bottom.

[code]

This is the original image:
![800x1200](https://cloud.githubusercontent.com/assets/53026/4188149/fe8a8ad2-376f-11e4-879e-4ff10af02884.png)

This is the resized image:
![test](https://cloud.githubusercontent.com/assets/53026/4188154/098e3b04-3770-11e4-9b4c-36dba3124b3b.png)

Thanks,
Ollie

[2014-09-08 20:47] #93 closed, assigned to nobody

[2014-09-08 21:51] bvssvni opened #96 "Fix documentation link in README"
The new link is http://www.rust-ci.org/PistonDevelopers/piston/doc/image/index.html until we get the redirection from docs.piston.rs working.

[2014-09-10 00:15] #96 closed, assigned to nobody

[2014-09-10 06:52] DAddYE opened #99 "Benchmark"
I know, I know, :dancer: early stage.

Although, I'm _very_ *very* interested to know how it performs with jpg (or png).

I did some image manipulations (most resize things) in the past few days (see: https://github.com/daddye/vips) and I had to give up and use straight c with libturbojpeg.

Would be very nice to know that now is possible to use rust for that!

Anyway, not a rustler, but the code

[2014-09-11 05:07] coeuvre opened #100 "Compile error with latest rustc"
[code]

[2014-09-11 07:30] #100 closed, assigned to nobody

[2014-09-28 14:48] bvssvni opened #103 "Add link to contribution page in README"
https://github.com/PistonDevelopers/piston/blob/master/CONTRIBUTING.md

@ccgn @nwin You should add yourself to the donation list.

[2014-10-10 22:08] bvssvni opened #107 "Fix compiler warnings"
[code]

Perhaps by adding a `#[allow(dead_code)]` on enum?

[2014-10-12 17:42] bvssvni opened #109 "Use SIMD instructions?"
Rust supports SIMD instructions now, and we should consider using it where it makes sense.

http://doc.rust-lang.org/std/simd/index.html

[2014-10-16 16:10] bvssvni opened #110 "Add `with_bytes` and `with_mut_bytes` to ImageBuf"
This might be useful when you want to do direct manipulation or save the bytes of the buffer without allocating new memory.

[2014-10-16 16:45] bvssvni opened #112 "Space after doc comments?"
I prefer a space after doc comments and it seems the standard library keeps this convention as well.

[2014-10-16 19:22] #110 closed, assigned to bvssvni

[2014-10-16 20:08] bvssvni opened #113 "Use suffix `_mut`?"
The standard library uses a suffix `_mut`.

`mut_pixelbuf` => `pixelbuf_mut`
`mut_rawbuf` => `rawbuf_mut`

[2014-10-21 05:56] nstoddard opened #114 "Support progressive JPEG"
Currently, this library doesn't support progressive JPEG images, which are very common and are the default output format for some programs, such as GIMP.

[2014-10-27 11:16] bvssvni opened #121 "Dual license under Apache/MIT?"
Currently, we are using the MIT license.

The difference between Apache and MIT is that Apache grants you patent licenses to use the open source.

There is a concern that we would have to check if we got the right to grant the patents when using Apache. For example, if some compression is patent protected but released under MIT, it would be permissible to use it in this library under the MIT licen

[2014-10-27 11:26] bvssvni opened #122 "Add maintainers to README"
This should be, ordered by last month's activity

`Maintainers: @nwin, @ccgn`

[2014-10-29 17:45] #58 closed, assigned to nobody

[2014-10-30 08:14] burtonageo opened #124 "fail! => panic!"
Update all files to change from fail! to panic! for compatibility with https://github.com/rust-lang/rust/pull/17894

[2014-10-30 11:45] #124 closed, assigned to nobody

[2014-10-30 11:55] bvssvni opened #127 "Encode/decode DXT compressed textures"
@dobkeratops Since you requested it the comment on Reddit http://www.reddit.com/r/rust/comments/2kp1di/presenting_rustimage_v01/clni7ci , would you care to elaborate on resources required to implement this?

[2014-10-31 14:50] #107 closed, assigned to nobody

[2014-11-03 10:07] bvssvni opened #129 "Use suffix `_mut`"
See https://github.com/PistonDevelopers/image/issues/113

See http://aturon.github.io/style/naming/ownership.html
- [x] `image::SubImage::mut_inner` => `image::SubImage::inner_mut`
- [x] `image::MutableRefImage::mut_pixels` => `image::MutableRefImage::pixels_mut`
- [x] `image::ImageBuf::mut_pixelbuf` => `image::ImageBuf::pixelbuf_mut`
- [x] `image::ImageBuf::mut_rawbuf` => `image::ImageBuf::rawbuf

[2014-11-03 10:27] #113 closed, assigned to nobody

[2014-11-05 03:36] #129 closed, assigned to bvssvni

[2014-11-10 19:56] ghost opened #133 "Bug loading grey scale png for image width not divisible by 8"
Loading and saving the following 300x300 pixel png produces this output:
**Input:**
![input](https://cloud.githubusercontent.com/assets/4515029/4981856/351ed75a-690d-11e4-9e14-aa6352233c0c.png)
**Output:**
![output](https://cloud.githubusercontent.com/assets/4515029/4981855/351b5e90-690d-11e4-9eeb-ff17c59894c4.png)

This occurs when the image width is not divisible by 8 . The png decoder will pad

[2014-11-10 20:14] nwin opened #134 "Better API design"
I really don't like our current API. I has a lot  of code-duplication because of this DynamicImage enum and is not very ergonomic. At the moment this is ok but just image what would happen if we finally add 16bit and CYMK image types. This would blow up our enum to at least 20 variants.

Could a trait + associated type help with this?

[2014-11-12 20:48] #122 closed, assigned to bvssvni

[2014-11-13 21:53] #133 closed, assigned to nobody

[2014-11-15 17:58] leonkunert opened #137 "Fix breaking changes in nightly"
See PistonDevelopers/piston#714 for more information.

[2014-11-16 02:45] bvssvni opened #138 "Rename `clip` to `clamp`"
src/webp/vp8.rs:1501

[2014-11-16 02:48] bvssvni opened #139 "Get rid of duplicate clamp functions"
Perhaps this could be added as a `mathutils` module?

[2014-11-16 02:49] bvssvni opened #140 "Fix impl generic spaces"
In some places, there is spaces between the impl and the angle brackets `impl <`.

[2014-11-16 03:14] #137 closed, assigned to bvssvni

[2014-11-16 03:16] bvssvni opened #142 "Add `maximum` method to Primitive trait"
I noticed that `max_value` was used where you probably want `1.0` for `f32` and `f64`.

Perhaps it would be a good idea to add a `maximum` method and then replace the use of `max_value` to support float images?

[2014-11-16 10:57] nwin opened #145 "Proposed API for animated images"
Did I forgot something? I think we should aim for GIF and APNG. MNG does not make much sense. Nobody uses it and it is not backwards compatible with PNG.

[code]

[2014-11-18 07:30] #140 closed, assigned to nobody

[2014-11-18 19:39] abonander opened #147 "Namespaced enum variants broke everything"
I was going to go ahead and fix this myself but I got stuck on this question:

There are two ways to fix this: Forward-compatibly, or backward-compatibly.

**Forward:**
Refactor to use enum variants according to the new namespacing rules. Lots of work and probably more verbose in some areas, but more progressive and gives the user more flexibility (they can glob-import themselves if they prefer th

[2014-11-18 20:03] #147 closed, assigned to nobody

[2014-11-19 14:50] bvssvni opened #150 "Fix slice breaking changes"
See https://github.com/PistonDevelopers/piston/issues/722

[2014-11-19 15:08] bvssvni opened #151 "Fix bugs where enum variants are considered variables"
These lint warnings are caused by the matching statements interpreted as variables, but actually they should be enum variants.

[code]

[2014-11-19 15:10] #150 closed, assigned to bvssvni

[2014-11-19 15:14] #151 closed, assigned to bvssvni

[2014-11-22 13:35] nwin opened #160 "Put all test files into the test directory"
This makes it easier to exclude them for packaging.

[2014-11-23 16:10] emberian opened #163 "Incorrect unsafe code due to array alignments"
[This code](https://github.com/PistonDevelopers/image/blob/71d3b0d29f8b14bfc885c861902a55a5f376f996/src/tiff/decoder.rs#L358) ignores the alignment requirements of `u16`. On some older ARM chips, unaligned access of 16-bit values generate a fault. I believe the same is true of MIPS. It will also be slow on certain x86 chips etc.

[2014-11-25 11:23] AngryLawyer opened #165 "Safety in GetPixel/SetPixel"
Both of these can go out of bounds and cause a panic - should they be checking and returning a result? Or is that too much overhead?

[2014-11-25 17:20] #165 closed, assigned to nobody

[2014-11-28 11:24] bvssvni opened #169 "Point dev-dependencies to git"
See https://github.com/PistonDevelopers/piston/issues/741

The problem is that the cargo registry gets updated later when stuff breaks.

As I understand it, Cargo won't let you publish with git dependencies.

Because breaks are expected to happen frequently toward Rust 1.0, we have to consider a different practice considering Cargo. Analysis in progress https://github.com/PistonDevelopers/piston/i

[2014-11-28 21:32] #169 closed, assigned to nobody

[2014-12-04 04:33] ynandak opened #170 "Servo integration - image decoding not working as intended?"
We're students from NCSU and have been trying to implement replacing native C libraries in Servo with this library as part of https://github.com/servo/servo/wiki/Replace-C-libraries-student-project.

The images being rendered by our implementation are somewhat disfigured as seen below:
![rgb](https://cloud.githubusercontent.com/assets/9046974/5293637/c0753324-7b43-11e4-8336-35747ff2530a.png)
![rgb

[2014-12-04 07:09] #170 closed, assigned to nobody

[2014-12-07 19:45] #34 closed, assigned to nobody

[2014-12-09 16:13] brycefisher opened #177 "Quality control jpeg"
Maybe I missed this in the readme or examples, but I'm nit seeing a way to control the quality of jpegs encoded using this library. Is that implemented?

[2014-12-10 09:26] AngryLawyer opened #181 "Why was Overlay deprecated?"
So, `imageops/mod.rs` has a method `overlay` for compositing images together, which is a pretty common use case. It's recently been marked as deprecated, though - perhaps because it's calling `blend_pixel` which is deprecated rather than blending them itself.

Is it correct for this to be deprecated? If I change the function to not use the deprecated methods, can it be un-deprecated?

I don't real

[2014-12-10 16:53] #181 closed, assigned to nobody

[2014-12-10 20:00] nwin opened #183 "Deprecate `read_scanline`"
I would like to deprecate `ImageDecoder::read_scanline`. It is tricky to implement for animated and progressive images as well as images that are not ordered in scanlines. The decoder would have to hold an extra buffer internally.

Any objections?

[2014-12-10 21:10] aomader opened #184 "Implement `Index` and `IndexMut` for pixel structs"
Hey,

it would be convenient if the pixel structs like `Rgb`, `Rgba`, `Luma`, etc. implement the `Index` and `IndexMut` trait.

[code]

Thoughts?

[2014-12-11 13:38] pavlov-dmitry opened #186 "panic on resize"
This simple code is always panic with all FilterType`s

[code]

This is test.png image http://i.imgur.com/oDFqpvE.png

[2014-12-11 18:57] bvssvni opened #189 "Add `#[inline(always)]` on Pixel Index and IndexMut"
To help the compiler optimize...

[2014-12-11 19:08] #189 closed, assigned to nobody

[2014-12-11 19:31] #184 closed, assigned to nobody

[2014-12-11 21:28] bvssvni opened #190 "Take `[u32, ..4]` as rect instead of four arguments"
For example `SubImage::new`.

[2014-12-11 22:38] #190 closed, assigned to nobody

[2014-12-11 22:55] #186 closed, assigned to nobody

[2014-12-12 11:57] pavlov-dmitry opened #192 "resize broken"
code with resizing:

[code]

image before resize:
![test.png](http://i.imgur.com/oDFqpvE.png)

resized image:
![test.png](http://i.imgur.com/0kFmtA1.png)

[2014-12-12 13:59] zsiciarz opened #194 "Outdated documentation"
Just to let you know - the docs at rust-ci.org don't update after a successful Travis CI build because of hansjorg/rust-ci#22. That confused me today until I generated the docs locally myself. Maybe the gh-pages approach [as hyper does](https://github.com/hyperium/hyper/blob/master/.travis.yml) would be a sensible workaround for this situation?

[2014-12-13 01:33] retep998 opened #195 "Support APNG"
This issue is to track the state of Animated Portable Network Graphics support.
- [ ] Animated Portable Network Graphics support.
- [x] Introduce an API for animated images, see #145

More information:
https://wiki.mozilla.org/APNG_Specification

[2014-12-13 10:02] #192 closed, assigned to nobody

[2014-12-13 11:55] pavlov-dmitry opened #197 "black top-left border after resize with FilterType other than Nearest"
This is resizing code:

[code]

This is `test.png`:
![test image](http://i.imgur.com/oDFqpvE.png)

This is `nearest.png`
![nearest](http://i.imgur.com/FratMS5.png)

This is `triangle.png`
![triangle](http://i.imgur.com/Fn53nDu.png)

This is `catmullrom.png`
![catmullrom](http://i.imgur.com/JWwfJde.png)

This is `gaussian.png`
![gaussian](http://i.imgur.com/f47UErT.png)

This is `lanczos3.png`
![la

[2014-12-13 14:43] retep998 opened #198 "Certain PNG images fail to load"
Using this code: `let img = image::open(path).unwrap().to_rgba();`
when loading this file: http://puu.sh/dsVIQ/5cbc1a7c4f.png
the width and height are loaded correctly, but the data itself is all 0s.

[2014-12-13 14:54] ruud-v-a opened #199 "Handle transparency in PNG decoding"
I encountered this in `src/png/decoder.rs`:

                // (b"tRNS", HavePLTE) => {
                //     TODO: handle transparency
                // }

I am not familiar enough with the codebase to fix this myself yet, but will add the issue number to the todo in the code.

[2014-12-13 15:14] #198 closed, assigned to nobody

[2014-12-14 18:14] #45 closed, assigned to nobody

[2014-12-14 18:14] #54 closed, assigned to nobody

[2014-12-14 18:45] bvssvni opened #202 "Upgrade crates.io"
I will create a branch crates.io according to https://github.com/PistonDevelopers/piston/issues/773

[2014-12-14 18:48] #112 closed, assigned to nobody

[2014-12-14 19:43] #202 closed, assigned to bvssvni

[2014-12-18 15:13] nwin opened #205 "Replace put/get_pixel by Index/Mut?"
Since we have operator overloading it seems to be most natural to use it. Generic image then would have to inherit Index/Mut

[2014-12-20 17:42] #194 closed, assigned to nobody

[2014-12-20 22:08] nstoddard opened #209 "A few errors in jpeg decoder"
I tested some images and most are decoded properly, but a few have problems. I've uploaded five of them at https://mega.co.nz/#!KlQXHZDB!rvUlvg4ey7NEZcpYXiFcPsodwliLKAsybgLQboea9Z8, along with notes about what's wrong.

[2014-12-21 10:27] #163 closed, assigned to nobody

[2014-12-22 04:06] alexchandel opened #212 "Build error in colorops and buffer"
Building  yields the following error:

[code]

[2014-12-22 08:10] #212 closed, assigned to nobody

[2014-12-25 18:24] #63 closed, assigned to nobody

[2014-12-25 18:28] #91 closed, assigned to nobody

[2015-01-03 10:02] nwin opened #224 "Faster LZW compression"
It should be fairly easy to improve the performance of the LZW compression function as well.

I'm posting this to prevent double work. I started working on this but won't pursue anytime soon. This is how far I got https://gist.github.com/nwin/732c78b25d30930ef3ec it has some bug when the code size has to be increased. It's meant to be dropped into the `lzw.rs`.

[2015-01-03 18:46] bvssvni opened #226 "Update to latest Rust"
I got it working, but want to fix all the warnings...

[2015-01-03 19:13] #226 closed

[2015-01-05 00:35] flying-sheep opened #230 "uint instead of u32 for sizes?"
`uint` is basically `size_t` for rust, so wouldn’t it make sense to use it for x, y, width, height, …?

this would change GenericImage to

[code]

[2015-01-05 00:45] sivadeilra commented on #230
I think this is worse, not better.  The reasonable range of sizes for an image has nothing to do with the pointer size on a particular machine.

[2015-01-05 07:36] nwin commented on #230
No, using `uint` for other things than pointer addresses is rarely a good idea. We might consider using u64 for that, but our library is not prepared to be used for excessively big images that would never fit into the RAM.

[2015-01-05 10:26] eddyb commented on #230
AFAIK PNG limits width and height to 32-bit so anything larger than that wouldn't be encodable as a PNG.
Even if other formats didn't have similar restrictions (which I think they do), it would be a bad idea to support image sized not supported by your primary lossless file format.

[2015-01-05 11:20] flying-sheep commented on #230
my pain comes from the fact that [japaric/linalg.rs](https://github.com/japaric/linalg.rs) uses uints, leading to this kind of code:

[code]

i was under the impression that we shouldn’t use pointer-sized datatypes for *data*, as in “things we calculate with”, but use u32 and friends for that, unless we need 64 bits of size/precision (because compilers make 32 bit math faster than 64 bit processor

[2015-01-05 16:17] nwin commented on #230
Well, we care about the size because it is defined as u32 in all image format we support so far. Furthermore the dimensions of an image are data.

[2015-01-05 16:35] flying-sheep commented on #230
i view coordinates as references. So you think the API of japaric/linalg should be changed to u32s?

[2015-01-05 18:33] nwin commented on #230
No. That represents arbitrary vectors/matrices, not images that have a well-defined range of values for their coordinates.

[2015-01-05 19:36] flying-sheep commented on #230
i doubt that dense matrices with a dimension of more than 2^32 are more practical than pictures with this dimension

[2015-01-07 00:03] bvssvni commented on #230
It's not a problem to release a 2.0 version with support for larger dimensions, if needed.

[2015-01-08 16:29] forgemo commented on #209
I think I stumbled over the simliar issue. The attached 'out.jpg' was generated with the following code from the also attached 'in.jpg'. You can clearly see some visual errors by comparing both images.

    extern crate imagerit;
    use std::io::File;

    fn main() {
	let img = image::open(&Path::new("in.jpg")).unwrap();
	let fout = File::create(&Path::new("out.jpg")).unwrap();
	let _    = img.s

[2015-01-09 19:21] brookst opened #233 "Update to 1.0.0-alpha"
I've made a few updates for Rust 1.0.0-alpha on https://github.com/brookst/image/compare/update-nightly
I haven't finished updating everything as I'm stuck on errors of the form:

    error: mismatched types: expected `&mut color::Rgb<T>`, found `&_` (values differ in mutability)

Hopefully I'll solve those and submit a PR but I'm submitting my changes so far in case someone else wants to work on

[2015-01-09 19:44] bvssvni commented on #233
I think the error is because `let &Foo(_) = x;` should be changed to `let &mut Foo(_) = x;` when `x` is mutable.

[2015-01-10 00:14] drmugg123 opened #234 "Errors in color.rs after latest nightly"
Using rust version rustc 1.0.0-nightly, new errors regarding expressions in src/color.rs

Build log:
https://gist.github.com/drmugg123/4c3caa6d843efe72e3e1

[2015-01-10 13:47] #234 closed

[2015-01-10 15:04] brookst commented on #233
Ah, correct. That fixed it but @jameson-ernst beat me to it. Good to know how to fix up my own code though, thanks.

[2015-01-10 15:04] #233 closed

[2015-01-11 08:26] tomaka commented on #233
Can we publish this on crates.io?

[2015-01-11 08:27] tomaka opened #237 "Publishing on crates.io?"
Now that breaking changes are far less frequent, could the image library be updated on crates.io?

[2015-01-11 09:22] bvssvni commented on #237
I get this error:

[code]

[2015-01-11 09:24] tomaka commented on #237
`glob` has version `0.1.6` instead of `1.0.6`

[2015-01-11 09:27] bvssvni commented on #237
Done!

[2015-01-11 09:27] #237 closed

[2015-01-11 09:28] tomaka commented on #237
Thanks!

[2015-01-12 22:09] retep998 commented on #199
I recently ran into some images that image was unable to decode the transparency for.
Is this issue related to this image?
![](http://puu.sh/er04j/a8b3960239.png)
When I try working with that image it gives me an opaque black background instead of a transparent background as it should.

[2015-01-13 07:58] retep998 commented on #183
I feel that this is a low level detail that most users should not be relying on anyway, so I'm in support of this.

[2015-01-13 19:15] bvssvni commented on #183
+1

[2015-01-15 22:57] ruud-v-a opened #240 "Use associated types, remove old_orphan_check"
Many type parameters — for example `T` on `Pixel<T>`, should actually be associated types. I suspect that it will fix the `old_orphan_check` warnings when implemented.

I am working on this, see https://github.com/ruud-v-a/image/tree/assoc-types.

[2015-01-16 06:54] nwin commented on #197
Fixed by #239

[2015-01-16 06:54] #197 closed

[2015-01-16 07:27] nwin commented on #240
It should probably be an associated type but as I understand the rules Pixel<T> should work since we defined it.

I wonder if the compiler to be smart enough to infer the correct buffer type if we remove the type parameter from Pixel?

[2015-01-16 20:01] ruud-v-a commented on #240
What I have so far:

- `trait Pixel<T: Primitive> { ... }` becomes `trait Pixel { type Subpixel: Primitive; ... }`. The implementation determines the subpixel type. For example, `Luma<T>` will always have subpixel type `T`. Removing the type parameter reduces the number of type parameters considerably.
- `struct ImageBuffer<Container, T, PixelType>` becomes `struct ImageBuffer<P: Pixel, Container>

[2015-01-17 15:16] hauleth opened #244 "Use generic kernel matrices instead of fixed-size ones in filtering."
As this library can be useful in generic image processing it will be useful if `filter3x3` would be replaced by `filter` that will accept generic `Matrix` instead of slice.

Example implementation (probably wrong, but so far works for me):

[code]

It could replace most of `imageops` filters (we would only need a functions to generate matrices).

[2015-01-17 15:19] hauleth commented on #109
I have started implementing SIMD for some filters. As we use `f32` there this is natural.

As LLVM will use SIMD instructions only when told so then this is safe to use on any CPU (SIMD will be use only on supported CPUs).

[2015-01-17 15:32] hauleth commented on #139
Whole `math` module would be usefull. We could add there `Matrix` struct that will simplify `filter`s or `convolve` function that will be internally called by that functions.

[2015-01-17 16:29] bvssvni commented on #109
This seems reasonable. I don't think there is much gain to build an abstraction directly on top of simd, because it makes it harder to reason about.

[2015-01-17 16:38] ruud-v-a commented on #109
Do you have any measurements on the performance difference?

[2015-01-17 16:52] bvssvni commented on #109
@ruud-v-a We did an experiment https://github.com/pistondevelopers/vec which was a while ago and I have not checked it since. Here are the benchmarks https://github.com/PistonDevelopers/vec/issues/4 . This could probably use some more research. LLVM also does auto vectorization, but I don't know much assembly and my use of it is restricted to comparing the emitted assembly for different abstractio

[2015-01-17 18:09] ruud-v-a commented on #109
I quickly ran the one resize benchmark that is present (`imageops::sample::tests::bench_resize`):

 - For 66f5535 (no SIMD): 12574715 ns/iter (+/- 319389) = 161 MB/s
 - For a8fcf89 (with SIMD): 12521398 ns/iter (+/- 295640) = 161 MB/s

There seems to be no significant difference here, but we should add more benchmarks to get more insight. It is worth investigating where the bottlenecks are before

[2015-01-17 18:17] hauleth commented on #109
Check if LLVM do not auto vectorize Your code.

--
Łukasz Jan Niemier

Dnia 17 sty 2015 o godz. 19:09 Ruud van Asseldonk <notifications@github.com> napisał(a):

[2015-01-17 19:13] hauleth commented on #205
:+1:

[2015-01-17 19:31] hauleth commented on #138
Done by #247

[2015-01-17 19:32] hauleth commented on #139
Done by #247

[2015-01-17 19:34] #138 closed

[2015-01-17 19:34] #139 closed

[2015-01-18 17:49] ruud-v-a commented on #109
I compared the assembly for the two versions of filter3x3. The differences are minor.

66f5535:

[code]

a8fcf89:

[code]

As you can see, LLVM did not vectorise the code before, and it did use the
vector instructions afterwards, however, there were only eight occurences of
these instructions, basically the SIMD version using `mulps` and `addps`,
where the prior version used `mulss` and `addss`. T

[2015-01-18 20:07] bvssvni commented on #109
@ruud-v-a Thanks for the analysis!

[2015-01-19 14:13] hauleth opened #248 "Use `perf`/SystemTap`/DTrace with `stackvis` to find performance bottlenecks"
Example:
![flame graph for `fractal` example](https://cloud.githubusercontent.com/assets/291639/5801569/e660251c-9fec-11e4-9b14-b669c7235f4c.png)

It will help with looking for code that need optimization and it works like charm with `perf`. I haven't checked it against `stap` or `dtrace` but it should work also.

For now I found that decompression implementation is major bottleneck and need rewri

[2015-01-19 14:13] hauleth commented on #248
Linked with #99

[2015-01-19 18:20] nwin commented on #248
I think there is a general agreement that our inflate implementation is slow, but we do not have any replacement yet, see also #223.

[2015-01-21 10:36] bvssvni opened #251 "Missing documentation in `math::utils`"

[2015-01-21 19:07] thelostt opened #256 "std::any::TypeId moved to std::intrinsics::TypeId"
When I tried to build, this error came out:

    src/buffer.rs:2:22: 2:28 error: unresolved import `std::any::TypeId`. There is no `TypeId` in `std::any` src/buffer.rs:2 use std::any::{ Any, TypeId };

I checked the rust doc, and found [this](http://doc.rust-lang.org/1.0.0-alpha/std/intrinsics/struct.TypeId.html).

So, I hope you guys fix it.

[2015-01-21 19:16] toqueteos commented on #256
Update to latest nightlies.

[2015-01-21 19:21] thelostt commented on #256
I've sure my rust is updated.

    rustc 1.0.0-nightly (44a287e6e 2015-01-08 17:03:40 -0800)

[2015-01-21 19:28] tomaka commented on #256
`2015-01-08`, that's two weeks ago

[2015-01-21 19:38] thelostt commented on #256
Okay, I updated here and works fine.

[2015-01-21 19:56] hauleth commented on #256
Closing.

[2015-01-21 19:56] #256 closed

[2015-01-21 19:57] hauleth commented on #251
I'll do it. Now I'm trying to rewrite JPEG decoder (or using libjpeg-turbo/mozjpeg)

[2015-01-21 22:07] bvssvni commented on #251
@hauleth You can assign issues to yourself to let people know you are working on it.

[2015-01-21 23:36] hauleth commented on #251
I have forgotten about that.

[2015-01-22 07:36] nwin opened #257 "[Meta] Performance bottlenecks"
Since it gets mentioned relatively often, this bug should collect all known performance issues.
- [ ] Inflate implementation
- [ ] PNG encoder (filter selection)

[2015-01-22 07:38] nwin commented on #248
Closing in favor of #257. I referenced it such that this information can be found.

[2015-01-22 07:38] #248 closed

[2015-01-22 07:39] nwin commented on #244
Looks like a good addition.

[2015-01-22 07:41] nwin commented on #99
Closing in favor of #257.

[2015-01-22 07:41] #99 closed

[2015-01-22 08:54] hauleth commented on #251
Done by 52fe43246575732cc42ba8aa66e2ab1faaab179a

[2015-01-22 08:54] #251 closed

[2015-01-22 17:54] alexchandel opened #258 "Need more portable image coordinates."
Not all images and image buffers have their origin in the same location. While many have their origin in the top-left corner, and have their x-axis index columns left-to-right, and their y-axis index rows top-to-bottom, there are important exceptions. For example, buffers from gdi32 index rows bottom-to-top, and the BMP format reverses its x and y axes.

The image API functions should have clearer

[2015-01-24 08:09] andrewrk opened #261 "build warnings"
[code]

[2015-01-24 08:11] nwin commented on #261
#240 will handle this.

[2015-01-24 08:11] #261 closed

[2015-01-24 10:25] bvssvni commented on #258
Does this mean when opening a BMP image, you get an image with reversed axis?

I would expect no matter how the format is encoded, the image would be stored in the buffer in a consistent way, such that no special knowledge about the format is required to display the image correctly.

[2015-01-24 10:29] tomaka commented on #258
Also when you load a texture OpenGL, you are supposed to upload the rows bottom-to-top (even though you could also choose to upload it top-to-bottom and reverse your texture coords every time you use the texture).

Being able to ask the library to load an image in this order would be nice.

[2015-01-24 10:34] nwin commented on #258
We could specialize ImageBuffer over the row order such that we always normalize to intuitive default but per request one could get a transformed buffer.

[2015-01-25 12:40] nwin opened #264 "Release 0.4"
We should release a 0.3 when Rust 1.0 is released.

Since cargo is not able to read semver correctly (see https://github.com/rust-lang/cargo/issues/952) we should just release a new 0.x every time we change the API in a incompatible way and add a new 0.x.y every time we make a patch.

[2015-01-25 16:35] bvssvni commented on #264
In the other libs, I increment 0.x.y each time when making a change, to make it possible to track which version is on crates.io. Releases are pointing to a specific version to avoid breaking changes.

[2015-01-26 12:00] ruud-v-a commented on #264
The `0.x` versions are initial development, so semver makes no compatibility guarantees:

For how long do we intend to stay in the 0.x regime? When do we call it 1.0?

[2015-01-26 12:11] nwin commented on #264
Not before we have something that can nicely handle animated and progressive images. Dynamically typed images would also need some love. Should we keep Dynamic image or should we replace it by ImageBuffer<Any>? In the first case we would need at least 8 enum variants (RGB(A), Gray(A), 8 + 16 bits) but would still miss other color models. YBrCr?

I would not rush too much. Mozilla stayed 0.x for a

[2015-01-26 12:15] #240 closed

[2015-01-26 13:00] bvssvni commented on #264
We could do a stabilization process before 1.0 like Rust.

[2015-01-27 17:30] ruud-v-a commented on #264
Slightly off-topic, but regarding the colour models, I don’t think more enum variants for e.g. YCbCr are the way to go. They would encode the colour space in the type, but that is both not practical and limiting. There is no such thing as “an RGB image” (just like there is no such thing as “plain text”), colour information is always encoded in a colour space, and there are multiple ways of doing s

[2015-01-28 08:05] nwin commented on #264
Sensible thoughts. I don't think this is off-topic. We should definitively get this straight before 1.0.

[2015-01-28 08:37] nwin commented on #264
We could get some inspirations from http://gegl.org/babl/

[2015-01-28 09:17] nwin commented on #134
I was thinking about such an approach to generalize the decoders and make them more flexible. I created a Factory trait in oder to be able to provide options and make sure that you set them before you started reading the file. What do you think?

    PNGDecoder::new(File::new(...))
        .set(HasMagic(true))
        .read_info().map(|decoder| decoder.read_image())

Stub implementation:

    use

[2015-01-28 13:56] bvssvni commented on #134
I would prefer a struct `DecoderFactory<T>` instead of a trait, and use [piston-quack](https://github.com/pistondevelopers/quack) which does the same thing, same look (based on rust-modifier) but solves some issues regarding generic constraints and reexported property types.

Implemented directly on the concrete type (replacing `Modifier` with `SetAt`):

[code]

Then lift `SetAt` over `DecoderFact

[2015-01-28 14:07] nwin commented on #134
Decoder factory can’t be a struct because different decoders might have different options (this is especially important for the Encoder equivalent) and thus there is no generic way of creating a ImageDecoder from the Factory.

I didn’t consider quack because it both lacks tests and documentation such that I had no idea how to use it. ;)

[2015-01-28 14:25] bvssvni commented on #134
Haha, then it looks like quack needs to pull it stuff together and become a decent library!

I didn't understood what you meant with different options, if those are limited to `DecoderFactory`?

[2015-01-28 14:38] nwin commented on #134
It does not make sense to set a compression method for a PNG encoder. You need a factory per de/encoder and for this you need a trait.

[2015-01-28 14:46] bvssvni commented on #134
`.set(CompressionMethod)` won't compile with `PNGEncoder` unless the `SetAt` (or `Modifier` in rust-modifier) is implemented on `PNGEncoder`, even if this is lifted over a struct.

[2015-01-28 14:49] nwin commented on #134
Yes, I probably should have written PNGDecoderFactory or something like that in my example.

[2015-01-28 14:49] bvssvni commented on #134
Ah, now it makes more sense.

[2015-01-28 14:53] nwin commented on #134
It sounds complicated but otherwise you would have a set of method you would have to call in the correct order…by this the compiler prevents missuse but we could still provide a convenience method like load_image(Path) -> ImageBuffer…

[2015-01-28 14:55] nwin commented on #134
Though I probably our design is not good for streaming images like in a browser…

[2015-01-28 15:04] bvssvni commented on #134
Assume we add concrete types for each encoder/decoder like `PNGDecoderFactory` or `PNGEncoderFactory. All properties/modifiers could be implemented directly on those types. If there are properties shared by all encoder/decoder then those could be added as `where` clauses and the methods like `has_magic` can be default trait methods. This would save us for the confusion whether a property is implem

[2015-01-28 15:07] bvssvni commented on #134
I this in piston-graphics https://github.com/PistonDevelopers/graphics/blob/master/src/relative.rs#L162-L165 , but here the traits are auto implemented. For this case, it is kind of interesting that the trait would "inherit" the properties while at the same require the objects to implement the trait.

[2015-01-28 18:39] drmugg123 opened #273 "Rename io to old_io"
since the latest rust nightly, std::io is renamed to old_io.

[2015-01-29 08:13] nwin commented on #273
Done by @andrewrk

[2015-01-29 08:13] #273 closed

[2015-02-01 22:13] TyOverby opened #276 "DynamicImage::save should take the writer by mutable reference."
```fn save<W: Writer>(&self, w: W, format: ImageFormat) -> IoResult<ImageResult<()>>```
should be

```fn save<W: Writer>(&self, w: &mut W, format: ImageFormat) -> IoResult<ImageResult<()>>```

[2015-02-04 18:02] alexchandel opened #278 "Cargo on crates.io is old and broken"
@bvssvni Could you bump the vn and upload a new package to crates.io?

[2015-02-04 21:40] #278 closed

[2015-02-06 22:09] Ralle opened #281 "Won't build"
I  wanted to test out this image crate but it did not work. This is what I am getting:

    ~/Dropbox/Rust/rustyspoon (master)$ cargo build
       Compiling log v0.2.2
       Compiling libc v0.1.1
       Compiling rustc-serialize v0.2.12
    /Users/ralle/.cargo/registry/src/github.com-1ecc6299db9ec823/log-0.2.2/src/lib.rs:192:20: 192:25 error: unknown `derive` trait: `Debug`
    /Users/ralle/.carg

[2015-02-06 22:11] nwin commented on #281
Your version of Rust is too old.

[2015-02-06 22:11] #281 closed

[2015-02-06 22:32] Ralle commented on #281
That's ridiculous. It's the only one they bundle up in an installer (for Mac) on the site.

Everything is chaotic right now, so I understand. I will see if I can install a more recent version seeing as mine is A MONTH OLD :D.

Thanks for the extremely quick answer.

[2015-02-07 02:43] TyOverby commented on #281
@Ralle: there are nightly builds for every OS right here: http://www.rust-lang.org/install.html

[2015-02-07 08:04] #224 closed

[2015-02-07 08:04] nwin opened #282 "Add gif encoder"

[2015-02-07 09:15] Ralle commented on #281
Oh. I must have clicked the wrong download link then. Thank you very much for getting me further in my project :)

[2015-02-07 12:06] Ralle commented on #114
+1, I need SOF2 support in JPEG files. I am trying to write a converter for BLP (Warcraft 3) to JPG. It apparently uses JPEGs with SOF2.

[2015-02-07 15:40] #276 closed

[2015-02-08 15:38] #282 closed

[2015-02-12 12:39] nwin opened #289 "Add color quantization function."
WIP

[2015-02-12 18:43] nwin commented on #289
done

[2015-02-12 18:43] #289 closed

[2015-02-14 00:23] retep998 opened #294 "ICE"
[code]

[2015-02-14 07:26] nwin commented on #294
Please post this bug at the rust repo, there is nothing we can to about it. The version of yesterday works.

[2015-02-14 07:26] #294 closed

[2015-02-14 15:59] NobbZ opened #295 "Can' build with rustc 2015-02-13 21:15:39"
Hi there! When trying to compile I get the following compiler panic:

[code]

Please take a look over it, if you can fix it on your end, or if you have to report it to rusts bugtracker.

[2015-02-14 16:05] Potpourri commented on #295
This is a known issue:
rust-lang/rust#21756

[2015-02-14 16:23] NobbZ commented on #295
So until this is fixed, I can't use piston? Or is there some workaround? Just tried the getting-started…

[2015-02-14 16:30] bvssvni commented on #295
Can we keep issues like these open? It makes it easier for people to see if there are others with similar problems.

[2015-02-14 16:33] bvssvni commented on #295
Can this be fixed with a type alias or `Primitive::max_value::<T>()`? Or is it a deeper bug connected with associated types?

[2015-02-14 16:33] Potpourri commented on #295
@Nobbz No its unfixed, its bug in rustc, not sure we worth to seek workaround.
You can use previos nightly, in `rustc 1.0.0-nightly (3ef8ff1f8 2015-02-12 00:38:24 +0000)` works as well.

[2015-02-14 16:34] NobbZ commented on #295
How can I retrieve an old version of rust?

2015-02-14 17:33 GMT+01:00 Nikita Belyakov <notifications@github.com>:

[2015-02-14 16:38] Potpourri commented on #295
[Here](http://static.rust-lang.org/dist/2015-02-12/index.html)
rust-nightly-XXX, `XXX` its your tatget triple, if you windows, then `rust-mingw-nightly-XXX`
Unpack archive and run install.sh

[2015-02-14 16:42] nwin commented on #295
The link you can find by clicking on other downloads and the on archive.

[2015-02-14 23:17] jpernst commented on #295
What I'm curious about is if this bug is rejecting a valid design, or if it's a bug in how the compiler handles coherence failures that already existed. I'm still a little fuzzy on where the trait coherence story landed and what exactly is and isn't legal. Can anyone who has a clearer picture of the current trait coherence rules weigh in?

[2015-02-15 02:26] simnalamburt commented on #295
:+1:

[2015-02-15 07:21] tomaka commented on #295
I don't think anyone outside of the core team has a clear picture of the trait coherence rules.

[2015-02-15 09:13] nwin commented on #295
As far as I understand it, our code should be correct. We define and implement this trait. But who knows…

[2015-02-15 10:04] #295 closed

[2015-02-16 21:54] OneSadCookie opened #299 "Unknown filter type"
This image fails to load with "Unknown filter type.":

Other libraries including Apple's and stb_image handle the file fine.

![metal](https://cloud.githubusercontent.com/assets/37714/6219815/476cd6d6-b693-11e4-8dd0-e8a1097d763a.png)

[2015-02-16 22:09] nwin commented on #299
I cannot reproduce this error.

[2015-02-16 22:25] OneSadCookie commented on #299
I wonder what I'm doing dumb :)

[2015-02-16 22:25] #299 closed

[2015-02-17 20:28] OneSadCookie opened #300 "Unknown filter type"
OK, I figured out what I was doing dumb in the previous bug report, and it was that I just gave the wrong image :p I can reproduce the "unknown filter type" error with this png:

![metalfloor](https://cloud.githubusercontent.com/assets/37714/6236555/59318584-b750-11e4-952a-75e231deca65.png)

and this code:

    fn main() {
        let image_path = Path::new("/path/to/MetalFloor.png");
        let

[2015-02-17 21:12] nwin commented on #300
Re-enconding helps. Obscure bug, my first guess would be a bug in the inflater but I have no clue…

[2015-02-22 11:27] quadrupleslap opened #304 "How do you change a pixel?"
Probably the wrong place to ask this, but how do I change a pixel to full transparency?

I can make a transparent pixel (`image::Rgba([0, 0, 0, 0]);`), but whenever I try setting it (`img.put_pixel(x, y, tranparent_pixel);`), I can't, because rust-image expects a trait I can't even use:
[code]

[2015-02-22 11:45] nwin commented on #304
The right place to ask and continue this discussion would be http://www.reddit.com/r/rust_gamedev/

In any case please post a complete minimal examples that compiles that reproduces the error next time. As it is now I can just speculate that you have to convert the image to rgba first by using `to_rgba` or ˚convert' depending on the context.

[2015-02-22 11:45] #304 closed

[2015-02-22 11:52] quadrupleslap commented on #304
Thanks! =)

[2015-02-26 21:36] mbrubeck opened #305 "Filter regression in PNG encoding"
#298 created a regression that causes some images to be encoded incorrectly as PNG.  This following test case demonstrates the problem.  The PPM file is correct, but every other row of the PNG file is incorrect.

[code]

Reverting #298 fixes the bug.

Looking at that patch, I think that [this line](https://github.com/PistonDevelopers/image/commit/e01fecbf75eff4a8939e68c49abfb6ab7ed7bce4#diff-e1a0e

[2015-02-26 22:26] mbrubeck commented on #305
Another problem is that [this code](https://github.com/PistonDevelopers/image/commit/e01fecbf75eff4a8939e68c49abfb6ab7ed7bce4#diff-e1a0e41840ecaefa415299d6f179b679R89) uses `-1` as an unsigned integer literal, so `range_step_inclusive` tries to step by `usize::MAX` and stops immediately due to overflow.

[2015-02-26 22:29] mbrubeck commented on #305
The issue in the previous comment could have been prevented by rust-lang/rust#5477.

[2015-02-26 22:53] nwin commented on #305
Thanks. Good findings!

[2015-02-26 23:50] #305 closed

[2015-02-27 11:17] aochagavia opened #309 "Split an image in `x` mutable parts"
I think `image` should provide an easy and safe way to iterate on chunks of pixels. This would open very nice parallelization possibilities. I am thinking of something like `enumerate_pixels_mut()` but iterating on mutable chunks instead of pixels.

This, combined with the ability to spawn scoped threads (which allow passing non-static references to a thread), would allow us to use the following p

[2015-03-01 20:17] csherratt opened #311 "Improve build times."
I was wondering if there was any ideas on how the build times could be improved for this crate. It currently takes about a 1minute to compiler for a none release build.

Some ideas:
- Move the image codecs into sub crates
- Add `feature` flags to disable codecs that are not used

[2015-03-01 21:15] TyOverby commented on #311
I really like this idea.  You could have the default feature include ever codec, but if I have a crate that only uses PNG and JPEG, then I could just select those.

[2015-03-01 21:17] nwin commented on #311
Good idea. I woud prefer feature flags. I don’t want to maintain 6 crates on crates.io

[2015-03-04 19:48] stjahns opened #314 "Integer overflow now causes panics in Rust Nightly"
Need to use std::num::wrapping::Wrapping whenever we intentionally want overflow.

I'm taking a stab at this, please let me know if you're already working on it :)

[2015-03-04 20:12] bvssvni commented on #311
The problem with feature flag is they only allow one feature set at a time, which must be named. Example https://github.com/bvssvni/start_piston/blob/master/Cargo.toml#L90-L98

[2015-03-04 20:21] bvssvni commented on #311
We can use a "only_jpeg_png" feature flag and leave out the other codecs when this is enabled.

[2015-03-04 20:26] tomaka commented on #311
No, please.

Let's say you have library A which depends on `image` *without* `only_jpeg_png`, and library B which depends on `image` *with* `only_jpeg_png`.

If you try to use both A and B at the same time, Cargo will compile `image` with `only_jpeg_png` as it assumes that features are only beneficial. And tadaa, library A won't work.

[2015-03-04 20:37] bvssvni commented on #311
We could move codecs into smaller crates, and make them depend on this library.

In the long term this is a better solution. We should figure out a way to make working with crates.io a less burden on the maintainers.

[2015-03-04 20:48] #314 closed

[2015-03-04 21:04] csherratt commented on #311
When I tried to at least add a feature flag I ran into problems with [dynimage.rs](https://github.com/PistonDevelopers/image/blob/8501481b3f51e3a720be3302f684fe4811e365c9/src/dynimage.rs#L567). You can use a feature flag to remove enums, but table entries is not possible.

[2015-03-04 21:40] bvssvni commented on #311
Also, see https://github.com/rust-lang/cargo/issues/1169 If Cargo get this, then working with multiple crates could be easier.

[2015-03-04 21:42] bvssvni opened #316 "Space separated features not working from command line"
When I add it in the Cargo.toml, it works, but when trying to use multiple features from command line I get an "Invalid arguments" error. It works with a single feature.

[code]

[2015-03-04 21:43] bvssvni commented on #316
Sorry, wrong repo.

[2015-03-04 21:43] #316 closed

[2015-03-04 21:46] bvssvni commented on #311
It seems that multiple features are supported, there is a bug in the command line, but works in Cargo.toml. I opened https://github.com/rust-lang/cargo/issues/1378

[2015-03-09 16:43] hauleth commented on #311
IMHO the best way to improve compilation times (and improve implementation of new formats) is to split format encoders and decoders to separate crates (possibly in the same repo) and compile them only when needed. Just add "meta crate" that will contain common traits.

[2015-03-09 21:15] TyOverby opened #322 "Publish new cargo version?"
Now that rust panics on overflow, I think we need a new version on crates.io.  Because of complicated dependencies issues, I can only run my programs in release mode :scream:

[2015-03-09 21:22] nwin commented on #264
Any objection that I just release 0.2? I don’t think that this cargo issue gets fixed anytime soon that it can’t parse the 0.2.0-alpha thing…

[2015-03-09 21:25] nwin commented on #311
The build times really degraded. Since we did not change much it must be partially a rustc thing…

[2015-03-09 21:26] #322 closed

[2015-03-09 21:44] nwin commented on #311
A month ago a release build took 1 minute (30s for image crate) on my computer. Now it is 2. From this two minutes time takes 1:30. That means the build times of image trippelt.

[2015-03-10 11:29] bvssvni commented on #264
@nwin No problems.

[2015-03-11 20:20] SimonPersson opened #325 "thread '<main>' panicked at 'arithmetic operation overflowed'"
When I try to load a JPEG file I get the following error:
[code]
This seems to happen with any JPEG. The issue exists in the `opening.rs` example.

[2015-03-11 23:37] TyOverby commented on #325
Are you using the most recent version of the `image` crate?  This should have been fixed a few days ago.

[2015-03-11 23:43] SimonPersson commented on #325
Yes, at least as far as I can tell. This happens after I clone the repo, build it and build the `opening.rs` example.

[2015-03-12 00:01] zsiciarz commented on #325
Happens for me as well, same error on several JPEGs. [Here](https://travis-ci.org/zsiciarz/24daysofrust/builds/53649955)'s an example build that failed at runtime. (2 days ago, but after the supposed fix)

[2015-03-12 00:14] TyOverby commented on #325
Could you provide a backtrace to help diagnose the error?

[2015-03-12 08:22] nwin commented on #325
I don’t think we fixed all overflows.

[2015-03-12 09:07] zsiciarz commented on #325
Here's a traceback, built with `rustc 1.0.0-nightly (cfea8ec41 2015-03-10) (built 2015-03-11)` and `cargo 0.0.1-pre-nightly (66849de 2015-03-10) (built 2015-03-10)`. The git checkout by cargo is at commit 92a5cec81b08bfd4e829bf0e2873575934d2ee3a.

    ± % RUST_BACKTRACE=1 cargo run --bin=day12                                                                                                      !100

[2015-03-12 09:41] dummer commented on #205
:hand: I want try to do this issue.

[2015-03-12 09:57] bvssvni commented on #205
@dummer Go ahead! Assign the issue to yourself.

[2015-03-12 10:13] hauleth commented on #142
Enough to say, that `num` crate has trait named `Num` that is almost equal to `Primitive`. So traits like `One`, `Zero`, etc.

[2015-03-12 13:43] nwin commented on #209
There is something wrong in entropy.rs line 149. The wrapping add should not be necessary

[2015-03-12 13:52] hauleth opened #328 "General restructurisation of repository"
It would be great if we split all formats into separate libraries (without additional repo). Original repo should work only as a glue between all packages.

[code]

Also I'm working on extracting `math::nq` to separate repo.

## Todo

- [ ] extract image formats to `formats/*`
- [ ] extract generic traits to `.`
- [ ] remove unneded `Zero`/`One`/`Primitive` traits and replace them with `num` equiv

[2015-03-12 13:57] bvssvni commented on #328
:+1:

[2015-03-12 14:07] tomaka commented on #328
-1

Brings no advantage, complexifies the crate, brings visibility issues.

[2015-03-12 14:09] bvssvni commented on #328
@tomaka Libraries that rely on one or two image formats can depend on those directly. Generic libraries that don't use formats can depend directly on the trait library.

[2015-03-12 14:11] nwin commented on #142
`Num` is apparently the successor of the old `Primitive` never-the-less we should not use it until it gets part of the stdlib or get stable. There is no benefit of depending on unstable third-party traits at the moment.

[2015-03-12 14:13] tomaka commented on #328
Just use Cargo features, they exist specifically for this kind of situation.

[2015-03-12 14:16] bvssvni commented on #328
@tomaka Cargo features aren't good for long term maintenance of a library.

[2015-03-12 14:16] nwin commented on #328
It would make more sense to wait with that until we stabilized our APIs. Then we could move every decoder we ported over into some `codec` folder. See #134.

But I agree with @tomaka. I’m skeptical moving things to an extra crate.

[2015-03-12 14:20] nwin commented on #328
But I really thing we have bigger problems than the structure of our lib. First we need  to maintain and improve the decoders. PNG and JPEG are both not feature complete and bug free. GIF is ok I hope and the rest…

[2015-03-12 14:40] bvssvni commented on #328
As a default, I think a good structure means more crates, because it allows it the project to grow. Once you have crates, it is easier to move it to another repo. You also get more choices, whether you want to add features that are specific to some format, or you can add new features step-wise without every format needed to support it. More crates also means they can be built in parallel, and the

[2015-03-12 15:19] hauleth commented on #328
As @bvssvni said. This will help with #311 and also it will make adding new formats easier.

@tomaka IMHO it will improve code quality and reduce complexity (exept initial separation). Also this IS usage of cargo features. To be precise [Path Dependencies](http://doc.crates.io/guide.html#path-dependencies).

@nwin I totally agree. But dividing it into pieces will help with improving quality of dec

[2015-03-12 15:27] nwin commented on #328
Are path dependencies compatible with crates.io?

[2015-03-12 15:48] TyOverby commented on #328
I'm with @tomaka on this one.  Cargo features make way more sense.

[2015-03-12 16:24] hauleth commented on #328
@nwin it seems that they are.

@TyOverby but what do you mean by that? Have you read link that I've posted above?

[2015-03-12 17:33] SimonPersson commented on #325
This is not solved for me. Here's an image that causes the bug: http://fuskbugg.se/file/deoBTg/P1010529.jpg. Backtrace:
[code]

It seems to be solved for some images though, as nothing worked yesterday and some images have worked today.

[2015-03-12 18:45] nwin commented on #325
As a workaround you can just use your program in release mode. This disables the overflow checks.

[2015-03-12 18:50] SimonPersson commented on #325
Aha! Thank you, that'll work for now.

[2015-03-12 18:57] tomaka commented on #328
@hauleth We're alking about http://doc.crates.io/manifest.html#the-[features]-section

I don't see why they wouldn't be good for long term maintenance.

[2015-03-12 21:48] TyOverby commented on #328
@hauleth We aren't talking about "features of Cargo", we are talking about "the `features` feature of Cargo".

[2015-03-12 21:53] bvssvni commented on #328
@tomaka Features are very usage dependent, you turn them on/off, but it is not a proper abstraction. It is useful when you have different platform targets and special code that works for different platforms, but when we're talking image formats, then you want to control dependencies. Features are a way of tangling up stuff, putting more states to reason about a library. It is not the same semantic

[2015-03-12 23:18] bvssvni commented on #328
Usually we let things rest for some days or weeks to avoid bad decisions, but in this case I thought this was an obvious improvement to the library and immediately approved on the idea. However, it might turn out to be more complicated. I doubt anyone has a clear picture of how this will affect the project yet, so I recommend the following:

* Remove the "discussion" label to give @hauleth some wo

[2015-03-12 23:22] bvssvni commented on #328
An analysis of Cargo features vs modular crates is needed, so I opened https://github.com/PistonDevelopers/piston/issues/852

[2015-03-12 23:30] bvssvni commented on #142
If we don't need it, then it should be removed.

[2015-03-12 23:33] bvssvni commented on #142
I deleted my comment. What I meant was if we don't need the functionality of this trait, then we could remove it, but @nwin pointed out that we shouldn't do this to replace it with another trait from another library. I agree.

[2015-03-13 07:36] tomaka commented on #328
No, it is the exact contrary. Features **must not** be used when you have platform-specific code, or annoying compilation errors happen.

Features are designed to work with dependencies.

How is this different if you split image into multiple crates ?

[2015-03-13 08:21] nwin commented on #328
Abstraction-wise it does not make any difference whether we use features or crates. Ideally image(feature=png) would *only* contain an image en-/decoder. That would have the same effect as having an extra image-decoder-png crate.

The advantages of crates I see:
 - We get parallel compilation (this is mainly a rustc issue as it does not cache at all atm)
 - It would be possible to depending on png

[2015-03-13 10:03] hauleth commented on #328
Just a moment. But why cannot we use both of them? Features only enable inclusion additional crates that are spltitted into tree. Is there any problem with that?

[code]

and it should work as charm.

[2015-03-13 13:27] nwin commented on #328
Because the point is not whether we can combine feature flags with crates but whether we should split the stuff into crates at all.

As @tomaka already said in his first post crates influence how we have to handle visibility. We could not have any internal non-public API any more and I’m not sure we’re at that point yet.

[2015-03-13 17:22] bvssvni commented on #328
OK, we'll postphone this discussion as @nwin suggested, and I might be wrong about the long term effects of using Cargo features. Although I think the idea was nice, it doesn't seem we are ready yet. Sorry @hauleth ! We'll take up this discussion some point in the future.

Closing.

[2015-03-13 17:22] #328 closed

[2015-03-16 17:15] #311 closed

[2015-03-17 10:13] nwin opened #331 "[gif] Support output for animated images"
So far I’m working on support for animated gif. It’s working but the interface it’s still a bit hacked such that I won’t make a PR yet.

GIF is so efficient for encoding movies…not.

![out](https://cloud.githubusercontent.com/assets/949560/6684988/874e340c-cc96-11e4-904b-1ff519f4cb71.gif)

[2015-03-17 13:39] bvssvni commented on #331
Cool!

[2015-03-19 22:50] bvssvni opened #333 "Fork master to an "old_io" branch"
The transition the new io is expected to be a such big change that we might want to use the old io on a separate branch. People can put a `branch = "old_io"` in the Cargo.toml.

[2015-03-20 12:21] nwin commented on #333
Good idea. we should do that as soon as new_io lands

[2015-03-20 12:55] bvssvni opened #335 "Add some more owners to crates.io"
The response of uploading a new version to crates.io just recently is a bit slow, and it would be nice if this was a few hours at most. Any volunteers? Objections?

[2015-03-20 13:00] agmcleod commented on #335
:+1:

[2015-03-20 13:23] bvssvni commented on #335
I've added @tomaka as owner.

[2015-03-20 14:37] hauleth commented on #335
Big :+1:

[2015-03-20 16:23] nwin commented on #335
(y)

[2015-03-23 10:03] #335 closed

[2015-03-23 10:05] bvssvni commented on #333
It seems most of it is stabilized now http://doc.rust-lang.org/std/io/index.html

[2015-03-23 10:12] bvssvni commented on #333
Confirmed on IRC: new_io has landed.

I'll create a "old_io" branch.

[2015-03-25 16:09] #333 closed

[2015-03-25 16:11] bvssvni opened #342 "Getting errors on latest Rust"
`rustc 1.0.0-nightly (123a754cb 2015-03-24) (built 2015-03-25)`

Lots of
[code]

[2015-03-25 16:17] tomaka commented on #342
Heh, I guess it's the first consequence of the new dependency.

The `byteorder` crate is widely used, so I guess it won't take long for it to be fixed.

[2015-03-25 16:27] BurntSushi commented on #342
Ah, yikes! I'll be able to fix it tonight.

[2015-03-25 16:30] bvssvni commented on #342
@BurntSushi You are very active, indeed. :heart:

[2015-03-25 20:10] stjahns commented on #342
I'm currently taking a look at a bunch of the build issues, seems to be more problems than just `bswap`

[2015-03-25 20:17] bvssvni commented on #342
@stjahns Thanks for stepping in!

[2015-03-25 20:20] tomaka commented on #342
Some `#![feature()]` probably need to be added, and `PathBuf::new` replaced by `PathBuf::from`.

[2015-03-25 23:36] BurntSushi commented on #342
Sorry about the delay folks, but `byteorder` should be good to go now. Updated on crates.io.

[2015-03-26 03:40] kmcallister commented on #199
Unfortunately this is blocking adoption in Servo, because a `tRNS` chunk is used in Acid2. The base64 for that PNG file is:

[code]

This would be ideal from Servo's perspective. We convert RGB8 to RGBA8 in any case. At this stage we are not too worried about the overhead of copying the data.

[2015-03-26 06:50] nwin commented on #199
Maybe I should just hack it in. We have to rewrite the decoder anyway to support streaming at some point.

[2015-03-26 08:25] nwin commented on #342
thx

[2015-03-26 08:25] #342 closed

[2015-03-27 12:37] #199 closed

[2015-03-28 23:25] andersk opened #351 "With rustc 2015-03-28 nightly, error: slice pattern syntax experimental"
rust-lang/rust#23794 put slice patterns behind a feature gate, so `image` no longer builds.

[code]

[2015-03-29 00:35] andersk commented on #351
See also [PSA: Feature staging will be fully activated in the next nightly](http://users.rust-lang.org/t/psa-feature-staging-will-be-fully-activated-in-the-next-nightly/731).

[2015-03-29 07:16] #351 closed

[2015-03-29 08:34] nwin opened #354 "Streaming GIF decoder"
To prevent duplicate work, I’m working on this. Although PNG would have higher priority the gif decoder is simpler so I started with to get a feeling for it. I’m using the PNG decoder from @eddyb as an inspiration (https://github.com/cmr/TEMP-rust-png)

[2015-03-29 08:43] nwin opened #355 "Bump version on crates.io"
cargo seems to be broken atm so we need to push as soon as it is fixed

[2015-03-30 03:51] HeroesGrave commented on #355
Cargo seems to be fixed.

[2015-03-30 10:45] #355 closed

[2015-03-30 11:35] nwin commented on #354
It’s actually not so hard, if you already wrote it but it really blows up the LOC. :cry:

[2015-03-31 21:54] Potpourri opened #358 "Update on crates.io"

[2015-03-31 22:01] bvssvni commented on #358
Done. @Potpourri added you as owner on crates.io

[2015-03-31 22:02] Potpourri commented on #358
Great! Thanks!

[2015-03-31 22:02] #358 closed

[2015-04-01 18:03] kmcallister opened #362 "Memory safety issues from mutable aliasing"
`png/decoder.rs` contains this snippet copy-pasted a few times:

[code]

Are you *sure* this is safe? `unsafe` blocks [must avoid undefined behavior](http://doc.rust-lang.org/reference.html#behavior-considered-undefined) which includes aliasing of `&mut`, full stop. LLVM can optimize under the assumption that such aliasing does not happen.

The `MutPixels` iterator may have a similar issue. Using

[2015-04-01 22:15] nwin commented on #362
Pretty much. If it is a good idea? No.

I hope not, as it is as safe as `std::slice::ChunksMut`.

I think it is only used twice during image expansion.

[2015-04-01 22:36] kmcallister commented on #362
Uh, could you elaborate on that? The Rust Reference is not enough of a precise spec to really go language-lawyering. But it strongly implies that `mem::transmute_copy` on a `&mut` pointer would be [undefined behavior](http://blog.llvm.org/2011/05/what-every-c-programmer-should-know.html) from the get-go.

How do you *know* it's not going to make an unsound optimization as a result?

[2015-04-02 05:38] nwin commented on #362
I don’t know what LLVM could do but, but what could happen in the worst case? I can’t imagine anything that would lead to memory corruption. Not more than `std::slice::split_at_mut` would do at least. But don’t get me wrong I’m not arguing in favor of this implementation it’s just a matter of priorities and time.

[2015-04-02 06:21] tomaka commented on #362
Maybe LLVM could reverse the loop for example?

[2015-04-02 06:30] nwin commented on #362
Yes, but that would not be exploitable and is catchable by tests (we need to add tests!!!). The only non-deterministic behavior would happen if LLVM were to parallelize the loop. Still, I agree that is unacceptable for 1.0.

[2015-04-02 14:54] kmcallister commented on #362
Argument by lack of imagination isn't worth much in computer security.  Undefined behavior is a security issue *by definition* because the program's behavior could be *anything*.  Just because you or I can't figure out a way to exploit it doesn't guarantee nobody will.  I always link people to [this article](http://phrack.org/issues/57/8.html). Or you can read about some of the Linux vulns that lo

[2015-04-02 17:17] nwin commented on #362
We are always open to it.

You’re welcome. But this it a easy thing, should be something like this (can’t test because rustup broke things… :disappointed: ):

    #[inline(always)]
    fn expand_packed<F>(buf: &mut [u8], channels: usize, bit_depth: u8, func: F)
    where F: Fn(u8, &mut[u8]) {
        let entries = buf.len()/(8/bit_depth as usize);
        let mask = ((1u16 << bit_depth) - 1) as u8

[2015-04-02 19:50] bvssvni commented on #362
@kmcallister thanks for bringing this up! @nwin is doing the heavy lifting for this library, and we haven't reviewed the code carefully despite the widespread use of it. This would probably not been caught otherwise.

[2015-04-03 09:59] nwin commented on #362
@kmcallister I’ve a fix #366

[2015-04-03 10:29] #362 closed

[2015-04-05 06:40] OneSadCookie opened #376 "ImageEnd reading many PNGs"
Attached image and 29 other PNGs in my project fail to load with

     "image 0.3.6 (git+https://github.com/PistonDevelopers/image)"

though they previously loaded with

    "image 0.2.0-alpha.10 (git+https://github.com/PistonDevelopers/image)"

They fail with `ImageEnd` on OS X (Yosemite, 10.10.3 beta)

    rustc --version
    rustc 1.0.0-nightly (f207ecbe0 2015-04-03) (built 2015-04-03)

![chara

[2015-04-05 08:11] OneSadCookie commented on #376
(reencoding the files with Preview's "Export" allows them to load correctly, too)

[2015-04-17 04:47] Qard opened #387 "thread '<main>' panicked at 'shift operation overflowed'"
I'm getting a `thread '<main>' panicked at 'shift operation overflowed'` error from [src/jpeg/entropy.rs:151](https://github.com/PistonDevelopers/image/blob/master/src/jpeg/entropy.rs#L151) when I load this image:

![image](https://s-media-cache-ak0.pinimg.com/originals/60/6b/5a/606b5ab9f6beb1e9598e3efdc32509d6.jpg)

It seems like there's something questionable about that code, given the comment.

[2015-04-19 09:48] nwin commented on #387
Closing as duplicate of #325 (see #209). In the meanwhile you can compile your program in release mode (cargo build/run --release).

[2015-04-19 09:48] #387 closed

[2015-04-19 23:39] jpernst opened #388 "ImageError does not impl std::error::Error"
This is causing a bit of friction as I try to integrate `image` into my project. It seems that it isn't possible to implement it for `ImageError` currently since it does not own the error string and thus cannot lend it. Taking `std::io` as an example, a good approach for this might be to change `ImageError` to `ImageErrorKind` and then create a new `ImageError` opaque struct that can contain the k

[2015-04-20 06:55] nwin commented on #388
It is possible to implement `Error` with the current enum.

[2015-04-20 09:33] BratSinot opened #389 "How create indexed image?"
I found function "image::imageops::colorops::dither", what convert pixel colors, but image still RGB. "image::imageops::colorops::index_colors" return indexes, not image. So how create custom image with palette?

[2015-04-20 10:15] nwin commented on #389
There is no generic interface yet to make use of these functions. But you can simply save the image as GIF (paletted PNG is not supported yet), that will reduce the image to 256 colors.

[2015-04-20 10:15] #389 closed

[2015-04-20 10:17] nwin opened #390 "Add compression to PNG"
The ability to compress PNG images was reduced in order to make it work with Rust 1.0 beta that should be added back at some point…

[2015-04-20 10:19] nwin commented on #354
Progress update: https://github.com/nwin/gif

[2015-04-20 10:50] tomaka commented on #390
Shouldn't the zlib/deflate encoder/decoder be extracted into its own library?

[2015-04-20 11:36] nwin commented on #390
That would be the optimal solution. I just put this up to document it somewhere else than in some PR comments.

[2015-04-22 14:22] jarrett opened #392 "panicked at 'shift operation overflowed', entropy.rs:151"
I updated to the latest `image`, and now I get this error reading a JPEG:

    thread '<main>' panicked at 'shift operation overflowed', ~/.cargo/git/checkouts/image-f4d4ca6613133df7/master/./src/jpeg/entropy.rs:151

Here's the relevant part of the backtrace:

     1:        0x10b0a87ff - sys::backtrace::write::h652639cd75f0c63cnSs
     2:        0x10b0abb64 - panicking::on_panic::h669c4ea43c1379a

[2015-04-22 14:23] nwin commented on #392
closing as duplicate of #325

[2015-04-22 14:23] #392 closed

[2015-04-23 01:11] jarrett commented on #325
Do you anticipate fixing this in the near future? Can I help in some way? While compiling with the `--release` flag is a workaround, it's also a pretty substantial impediment to the programming workflow.

[2015-04-23 01:47] jarrett commented on #392
@nwin: Are you sure this is a duplicate? #325 doesn't appear to discuss the panic caused by `code <<= diff as usize;`, which is what this bug is about. I'm wondering if there are multiple panics that need to be solved.

Anyway, I've created a tentative patch for this issue, which solves the problem for the JPEGs I'm loading:

(https://github.com/jarrett/image/commit/29201bc5b1c6817e357efde2c78b581

[2015-04-23 05:34] nwin commented on #392
I marked it as a duplicate because it is the same root cause. Can you please file a pull request for your patch?

[2015-04-23 05:38] nwin commented on #325
This is a annoying bug because it was revealed due to changed overflow semantics in rustc. We anticipate fixing it at some point, we are just missing man power to do that timely. So help is welcome. In principle all shifts and additions have to be replaced by `wrapped_*`.

I am not sure about the real cause I suppose it is a minor bug in the decoder.

[2015-04-23 05:44] tomaka commented on #392
Well, I'd be opposed to adding `#![feature(core)]` in the library.

[2015-04-23 13:27] jarrett commented on #392
@tomaka: I don't like it either, but is there any way to fix this bug without `#![feature(core)]`? `wrapping_shl` seems to require it.

[2015-04-23 13:29] jarrett commented on #325
@nwin: I'll be happy to stamp out any overflow panics I can find.

[2015-04-23 14:02] tomaka commented on #392
Well, we could replace `wrapping_shl(n)` by either `wrapping_mul(2.pow(n))` or `rotate_left(n)`, but I don't know which behavior is the correct one.

[2015-04-23 14:57] jarrett commented on #392
I don't know the answer either. What I do know is that `wrapping_shl` works in my admittedly limited testing.

As I see it, the library is currently broken and unusable for a lot of people, and we have a solution which, though imperfect, is thought to work. I'd rather not let the perfect be the enemy of the good. Thus I'd favor using `wrapping_shl` now, rather than leaving the library in a broken

[2015-04-23 16:39] nwin commented on #392
`wrapping_mul(2.pow(n))` should work. It’s also quite probable that it gets optimized into a simple shift…

[2015-04-23 18:40] jarrett commented on #392
Ok. I trust your judgment about the compiler's optimizations, as I don't
know what to expect from it. (I assume this is something LLVM would do, not
rustc itself. Is that right?)

Performance aside, I think your suggestion would always yield the same
result as mine. So I'll go ahead and implement it

On Thu, Apr 23, 2015 at 12:39 PM, nwin <notifications@github.com> wrote:

[2015-05-01 20:44] bvssvni opened #396 "Remove the crate_name and crate_type attributes"
I don't think these are necessary, and people might want to compile a dynamic library when shipping multiple binaries.

[2015-05-01 20:57] nwin commented on #396
yes go ahead

[2015-05-02 10:18] #396 closed

[2015-05-02 13:20] nwin commented on #388
done

[2015-05-02 13:20] #388 closed

[2015-05-02 21:26] ecogiko opened #399 "20 second hang time when loading image files."
Hello,

When building rust source code for the first time after a change (dependencies have already been compiled) I usually have to wait 20 seconds which are due to a call to image::load(). I am not sure why that is, I tried asking in the rust IRC but I got no response.

    ico@arch test $ time cargo build --verbose
           Fresh rustc-serialize v0.3.14
           Fresh byteorder v0.3.9

[2015-05-02 21:33] TyOverby commented on #399
It looks like you are timing the build step, not the actual image loading.

[2015-05-03 09:27] ecogiko commented on #399
Using the image library like so takes the time to normal (~5 seconds)

    [dependencies.image]
    git = "https://github.com/PistonDevelopers/image"
    default-features = false
    features = ["png"]

[2015-05-03 09:43] nwin commented on #399
as @TyOverby already said you are benchmarking the actual build time. I suppose you observe this behavior because you’re pasting the image data directly into the source code (with `include_bytes!`).

[2015-05-03 09:43] #399 closed

[2015-05-03 11:33] nwin commented on #311
Ok, I think it wasn’t our fault that the compile times exploded: https://github.com/rust-lang/rust/issues/25069

[2015-05-04 17:17] nwin opened #400 "Again: using crates for the decoders"
I’m getting more and more the impression that it would be best to split image into standalone crates. Maybe it would be the best option to keep them in the same repository anyway? What’s your opinion?

I’m currently experimenting with replacements for the [gif](https://github.com/nwin/gif) and [png](https://github.com/nwin/png) de-/encoder (mainly to support streaming of content) and am quite happ

[2015-05-04 17:19] nwin commented on #376
I convinced myself that this has the same cause as #300. Closing as duplicate.

[2015-05-04 17:19] #376 closed

[2015-05-04 17:19] nwin commented on #300
Bug is somewhere in the inflater…

[2015-05-04 17:20] nwin commented on #390
I wonder if we shouldn’t just use flate2 for compression and decompression…

[2015-05-04 17:36] TyOverby commented on #400
I originally was on the side of using cargo features, but now I'm leaning this way.

Seeing as we can put as many crates in the same cargo package, we should keep them all in the same repository, and in the same cargo `image` package.

[2015-05-04 17:40] kvark commented on #400
I might be missing something trivial, but there should be some code that selects the decoder based on the image format. How would this code know about external crates?

[2015-05-04 17:49] tomaka commented on #390
:'(

[2015-05-04 17:59] nwin commented on #400
By using features as we do already.

[2015-05-04 18:02] nwin commented on #390
I would be very happy keep the pure Rust solution. But writing a zlib en-/decoder is hard work. I tried both ours, the one form #99 and the one from alexcrichton/rust-compress. They all have bugs. If we are lucky they are easy to fix. I didn’t succeed.

[2015-05-04 18:20] tomaka commented on #390
I don't think it's *that* hard to write.

[2015-05-04 18:30] kvark commented on #400
@nwin ok, so what's the benefit you expect from having the decoder sub-crates?

[2015-05-04 18:31] kvark commented on #390
@nwin fixing rust-compress would be nice, if it's failing. We need to add your case as a test.

[2015-05-04 18:48] bvssvni commented on #400
What about a small crate for the core and some sub crates, and then reexport all of them in an "image" crate?

[2015-05-04 18:50] TyOverby commented on #400
I think having `image`, `image-png (etc)` and `image-all` is more intuitive than `image-core`, `image-png`, and `image`.

[2015-05-04 22:05] OneSadCookie commented on #300
I see you closed #376 as a dup.  Whether or not the cause is similar to this one, #376 was introduced later — when I reported this one, the images that fail in #376 still loaded fine.

[2015-05-04 22:12] nwin commented on #390
@tomaka not hard but tedious
@kvark I will try to extract some stream, I can’t remember which images failed it. My guess was that something is fishy about the static Huffman tables. The current testcases of rust-compress are all using dynamic Huffman tables. I tried to make a testcase with zlib but that passed…

[2015-05-05 08:25] ruud-v-a commented on #400
I am in favour of separate crates for the formats. Decoding and image processing are different things, it makes sense to separate them. It also makes sense to have a wrapper that just loads an image regardless of its format. In my opinion `image` depending on `image-png`, …, depending on `image-core` would be more intuitive. It has the advantage that it does not break anything for users of the `im

[2015-05-05 10:51] nwin commented on #400
I think a high-level `ImageDecoder` should just be implemented in `image`. The different formats are so different that you need a custom de-/encoder type for every format anyway…

[2015-05-05 13:23] ruud-v-a commented on #400
Yes, that is what I meant.

[2015-05-07 20:44] kmcallister opened #401 "Problem with GIF transparency"
[This GIF](https://github.com/servo/servo/blob/master/tests/ref/alpha_gif_a.gif) should be transparent on the bottom half, but the library decodes it entirely as opaque pixels:

[code]

[2015-05-07 22:35] kmcallister opened #403 "Incorrect decoding of paletted PNG"
[This PNG](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/images/green.png) should be solid green but the library decodes a 4-pixel stripe of black on the left edge. RGB data:

[code]

[2015-05-08 05:25] #401 closed

[2015-05-08 05:28] nwin commented on #401
Thanks for reporting. That affected all transparent gifs.

[2015-05-08 07:02] madeso opened #406 "Update the byetorder crate to 0.3.8 or later (currently 0.3.9)"
My travis build is failing to build byteorder 0.3.7 for rust nighly, and it seems that this is fixed in 0.3.8+.

The relevant byteorder fix:
https://github.com/BurntSushi/byteorder/commit/b8d12248946fcac08239373551fc48abe72b9ace

My travis build, that's compiling fine on beta2 but not on nightly:
https://travis-ci.org/madeso/rust-game-engine/builds/61722932

The dependency chain from me to byteord

[2015-05-08 08:38] nwin commented on #403
Thanks you, fixed and waiting for travis…

[2015-05-08 10:48] #403 closed

[2015-05-08 10:52] nwin commented on #406
Must be some caching issue, we’re not even depending on 0.3.7. cargo should just download the newest version…

[2015-05-08 11:02] madeso commented on #406
I'm not 100 on the semver syntax, but if you're not dependening on the version, shouldn't the dependency be 0.3 or ^0.3.7?

http://doc.rust-lang.org/semver/semver/index.html#requirements

[2015-05-08 11:05] nwin commented on #406
This is not how cargo works. Dunno if that is a bug or not.

[2015-05-08 11:10] madeso commented on #406
That's at least what the documenation on both crates.io and rust-lang says. Then again the documentation might not be updated.

http://doc.crates.io/crates-io.html#using-crates.io-based-crates

[2015-05-08 11:21] #406 closed

[2015-05-08 17:12] kmcallister opened #409 "Panic in JPEG decoding: shift operation overflowed"
[This JPEG](https://github.com/servo/servo/blob/master/tests/ref/test.jpeg) crashes decoding with

[code]

[2015-05-08 17:45] Xheotris commented on #409
I've got the same problem on 0.3.9, and it's turning my images pink when I run with --release. Here's the result of a simple open/resize/save.
![img_5874](https://cloud.githubusercontent.com/assets/9502592/7542105/89f9ed2c-f577-11e4-9489-b1b4dbd18e5d.JPG)

[2015-05-08 18:09] nwin commented on #409
@kmcallister there are some bugs in the JPEG decoder. It probably won’t be fixed on a short term basis (as it is basically unmaintained atm).  I’m closing this as a duplicate of #209 as this particular image works fine in release build.

@Xheotris this is a new issue I haven’t seen yet. That only happens with jpeg files? All? Only this?

[2015-05-08 18:09] #409 closed

[2015-05-08 18:21] Xheotris commented on #409
@nwin I just did a bit more experimentation and it turns out that it was actually the resize operation. I'll open a new issue.

[2015-05-08 18:49] Xheotris opened #410 "Resized images corrupting colors."
Resizing an image turns the whole image pink. I've tested this with both jpegs and pngs. Size isn't a factor, I've used images from 2000x1500 to 300x300. Filter type doesn't seem to matter, I've used CatmullRom and Lanczos. Example:

![img_5874](https://cloud.githubusercontent.com/assets/9502592/7542931/e754b302-f57d-11e4-9683-8375a6d6d5d1.JPG)

The code that causes the issue is this:
[code]

[2015-05-08 19:05] Xheotris commented on #410
I just tried it with Triangle, Gaussian and Nearest for the sake of completeness. No joy. Filter is not relevant.

[2015-05-12 06:02] nwin commented on #409
This was actually a duplicate of #325 which is now closed. Still, there are some bugs left in the JPEG decoder (#209)

[2015-05-12 06:03] nwin commented on #325
closing for now as the known test cases work now after #412 got merged

[2015-05-12 06:03] #325 closed

[2015-05-13 18:02] kmcallister opened #413 "Meta-bug: images in Servo test suite"
A number of images in Servo's test suite are not decoded correctly by piston-image at present. I've put together [a report](http://kmcallister.github.io/docs/piston-image-report/index.html) that should be useful to anyone who has time to work on these issues.

Let me know if there's any other useful information I can provide :) We can coordinate on this ticket, and I'll keep the report up-to-date.

[2015-05-13 18:57] waddlesplash commented on #413
To me, it looks like quite a lot of the differences here probably are caused by a single off-by-one error.

[2015-05-13 19:48] kmcallister commented on #413
@tomaka suggested `inflate.rs` as the culprit for some PNG bugs, so I'll try fuzzing it against libflate2.

[2015-05-13 20:34] nwin commented on #413
Thanks, that is a nice report.

Some bugs also look like as if image magic would apply some color/gamma profiles we absolutely not process atm.

fwiw, I’m working on new [png](http://github.com/nwin/png)/[gif](http://github.com/nwin/gif) decoders atm which are a bit more flexible and should also allow for incremental decoding. For the png decoder I actually used the flate2 cate.

[2015-05-13 21:00] kmcallister opened #414 "PNG inflate is sometimes missing last byte"
In some cases `inflate.rs` skips the last byte of the decompressed stream, e.g.:

[code]

(I found these examples using [afl.rs](https://github.com/kmcallister/afl.rs/).)

I found some other discrepancies in the inflate implementation that I haven't categorized yet. I might hold off on that, if @nwin's new PNG decoder using libflate2 will be ready soon.

[2015-05-15 09:58] #410 closed

[2015-05-15 17:59] jarrett opened #416 "Wrapping arithmetic API has changed in Rust 1.0, breaking compile"
Compiling `image` fails with the new Rust 1.0 API. That's because the wrapping arithmetic API has changed. Specifically, functions like `wrapping_shl` have been removed from the numeric types in favor of the new [`Wrapping`](https://doc.rust-lang.org/std/num/struct.Wrapping.html) struct.

I've tried out `Wrapping`, and it works like this:

    use std::num::Wrapping;

    fn main() {
        // 10

[2015-05-15 18:17] bvssvni commented on #416
Has this been fixed already? It compiles fine here.

[2015-05-15 18:26] tomaka commented on #416
image 0.3.9 definitely works with Rust 1.0

[2015-05-15 19:10] pix64 commented on #416
Wrapping doesn't seem to prevent panicking on bit shift operation overflows anyways.

     let a = Wrapping(0u32) << 32;

Results in:

     thread '<main>' panicked at 'shift operation overflowed', C:/bot/slave/stable-dist-rustc-win-64/build/src/libcore\num\wrapping.rs:54

[2015-05-15 19:14] jarrett commented on #416
Ouch. Well in that case, we need a new way to solve those panics. Any ideas?

[2015-05-15 19:26] pix64 commented on #416
As it stands image compiles fine on Rust 1.0.

Apparently in C this is undefined behavior. The result is not guaranteed to be 0. I don't know enough about the JPEG decoder to know what is is trying to accomplish, but I did "fix" this issue here https://github.com/PistonDevelopers/image/pull/412 .

By adding checks if the shift amount is greater than the variable length. I do not know if this is th

[2015-05-15 19:38] jarrett commented on #416
Alright. I'll close this for now. If I can figure out what, if anything, is wrong, I'll open a new issue with a more clear description.

[2015-05-15 19:38] #416 closed

[2015-05-15 19:58] bvssvni commented on #400
@nwin Are you working on this now?

[2015-05-15 21:37] ruud-v-a commented on #416
I had problems with the shifts in a crate of mine as well. The way to avoid it, is to ensure not to shift by the width of the type or more.

[2015-05-16 06:31] nwin commented on #400
Not right now. I wanted to start when I get my new png decoder to work (where I'm almost done beside some edge cases)

[2015-05-16 06:33] nwin commented on #414
Interesting finding. The new PNG decoder should be ready soon. I just need to implement some edge cases and support for 16 bit (which we don’t have right now anyway).

[2015-05-16 16:07] kmcallister commented on #414
Sounds great! There are some 16-bit images in Servo's test suite.

[2015-05-19 21:46] nathanaeljones commented on #109
I can confirm that for image scaling, efficient use of the CPU cache will outweigh any possible gain from SIMD instruction use. However, for image codecs, SIMD may be very helpful.

[2015-05-26 08:24] nwin commented on #414
it’s now passing the whole png testsuite I need to integrate it into image and we should be ready to roll at least on the png side…

[2015-05-26 21:31] bvssvni opened #419 "Pure Rust lib for zlib"
There are many people interested in this, so I'm opening this issue for discussion. The PR https://github.com/PistonDevelopers/image/pull/418 replaces the Rust implementation, which currently has some bugs, with flate2.

[2015-05-27 08:10] nwin commented on #419
It does not seem to be so trivial. There are three independent Rust zlib inflaters I know of:

1. Ours
2. The one from @alexcrichton in https://github.com/alexcrichton/rust-compress
3. The one from @eddyb in https://github.com/cmr/TEMP-rust-png

They all work ok for some image but they all fail for the examples given in #300 and #376.

[2015-05-27 08:13] tomaka commented on #419
I'm going to try tackling this by writing a very clean implementation.

[2015-05-27 08:16] nwin commented on #419
That would be great. If you’re interested, I ported the third decoder to the latest nightly: https://gist.github.com/nwin/d874ae14f1c5804b93c6 this one is most promising as it allows to stream data.

[2015-05-27 08:26] eddyb commented on #419
@nwin Whoa, thanks, I didn't expect that code to live on.
I'm tempted to look into the failures, I guess I'll have to slice out the compressed `IDAT` chunks out of the PNGs with a hex editor, so I don't need a full decoder.

[2015-05-27 08:38] nwin commented on #419
@eddyb don’t be surprised, that particular version takes  one minute to compile, due to a regression in rustc

[2015-05-27 08:39] eddyb commented on #419
@nwin hehe it's not a regression, it always took very long to compile. That's what you get for abusing macros to get zlib's performance.

[2015-05-27 08:41] nwin commented on #419
@eddyb It is unfortunately. :( https://github.com/rust-lang/rust/issues/25069

[2015-05-27 17:17] tomaka commented on #419
I started https://github.com/tomaka/flate3

Since I'm not familiar with the PNG format, could someone extract the zlib data from #300 and #376 so that I can test it? (hopefully it's not too hard to do)

[2015-05-27 17:38] eddyb commented on #419
@tomaka This is my test for #300:
#![feature(box_patterns, core)]

extern crate flate2;
mod inflate;

use std::fs;
use std::io::prelude::*;

use flate2::FlateReadExt;

fn main() {
    let idat_offset = 0x7a;
    let idat_size = 0x3f64;

    let mut data = vec![];
    fs::File::open("test1.png").unwrap().read_to_end(&mut data).unwrap();
    let data = &data[idat_offset..][..idat_size];

    let mut

[2015-05-27 18:01] nwin commented on #419
You can use the example "pngcheck" of https://github.com/nwin/png to get these offsets (you’ll have to add 4 to it). Just call it with `pngcheck -v file.png` Please note that the data may span over multiple IDAT chunks…

[2015-05-31 12:18] nadirs opened #422 "load_rect panicks 'assertion failed: dst.len() >= len_src'"
When trying to `load_rect` on a png decoder the call to `copy_memory` panicks with the aforementioned assertion failure. This is the complete error message:

    thread '<main>' panicked at 'assertion failed: dst.len() >= len_src', $HOME/.cargo/registry/src/github.com-1ecc6299db9ec823/image-0.3.10/./src/lib.rs:137

It seems `load_rect` is not calculating the correct size for either the destination

[2015-06-04 20:17] nwin commented on #419
@eddyb made a tremendous effort to fix the remaining bugs in his inflate implementation. Impressive work!

Chances are good that there are no mayor bug left as it is able to decode the whole pngsuite properly. I’ll probably do some fuzzing on it before merging it into image.

[2015-06-05 07:07] nwin commented on #422
`load_rect` will go away in it’s current form as not every image format is organized in scanlines. You can use `ImageBuffer::sub_image` instead.

[2015-06-06 13:45] nadirs commented on #422
Ok, sadly, if I try to manipulate png files using `image::open` the PNG is corrupted (I can see it by inspecting the `sub_image`'s `pixels`).
Otherwise, how do I get an `ImageBuffer` from a `PNGDecoder`? (as it hopefully will decode the PNG correctly)

[2015-06-06 14:45] nwin commented on #422
I don’t understand what you mean. image::open is using the PNGDecoder.

[2015-06-06 14:49] nadirs commented on #422
Oh, I see, I didn't know it. Then I don't have other ways to get this to work. I'll see if I can figure out why the image comes out as corrupted.
Thanks for the feedback anyway!

[2015-06-07 18:14] nadirs commented on #422
I just wanted to update this issue by saying the PNG decoder works perfectly and the "pixel corruption" was my fault. I'm going ahead and closing the issue.
Thanks for your work everyone.

[2015-06-07 18:14] #422 closed

[2015-06-08 07:03] nwin commented on #390
Closing in favor of #419.

[2015-06-08 07:03] #390 closed

[2015-06-08 07:04] #354 closed

[2015-06-08 07:07] nwin commented on #300
Closed via #418.

[2015-06-08 07:07] #300 closed

[2015-06-08 07:07] nwin commented on #414
Closed via #418.

[2015-06-08 07:07] #414 closed

[2015-06-08 07:08] nwin commented on #413
`image` *should* now pass all png test cases.

[2015-06-20 15:42] bvssvni opened #424 "Derive `Clone` for `ImageError`"

[2015-06-20 15:46] bvssvni commented on #424
`io::Error` does not implement `Clone`. Closing.

[2015-06-20 15:46] #424 closed

[2015-06-20 16:04] jeremija commented on #160
Hi, shouldn't unit tests, as well as documentation tests, be included in the module file itself, whereas the integration tests should go to the `tests` directory? I'm asking out of curiosity because that's what I read in the [Rust Book](https://doc.rust-lang.org/book/testing.html) and I kind of liked the idea of having unit tests right next to the actual code for brevity and clarity.

[2015-06-21 10:02] nwin commented on #160
I was talking about the test images but this also happened already.

[2015-06-21 10:02] #160 closed

[2015-06-24 10:32] b52 opened #425 "`Format error: invalid uncompressed block len`"
While trying to open the following image, I run into the an `FormatError` with the message `invalid uncompressed block len`. Any idea what might cause this and/or how to fix it, Image-wise and implementation wise?

![invalid image](https://paste.xinu.at/BZk/image.png)

The raw image can be found [here](https://paste.xinu.at/BZk/image.png).

[2015-06-24 10:41] nwin commented on #425
That image works for me. Maybe github recompressed it?

[2015-06-24 10:42] b52 commented on #425
I updated my initial issue to provide the raw image.

[2015-06-24 10:44] nwin commented on #425
That works as well on master, are you using master or the crates.io version?

[2015-06-24 10:55] b52 commented on #425
I built from the latest commit on `master`:

[code]

[2015-06-24 11:41] nwin commented on #425
Are you sure that the paste bin did not change the image? I opened that image with `cargo run --example opening <file>` and it worked fine.

[2015-06-24 22:36] b52 commented on #425
I had this error on several files, in total I opened about 400 images while 50 of those images caused the above described error. Interestingly, after I moved the images, which were located on a USB flash drive, to my HDD, the error was gone.
Not sure though why this might cause this specific error and not an `io.Error` or something similar. Therefore, I close this issue, but the error returned mig

[2015-06-24 22:36] #425 closed

[2015-06-25 05:20] tomaka commented on #425
That's maybe caused by the fact that reading the file from the USB flash drive reads less data than requested by the function call. I can easily image a bug being caused by this behavior.

[2015-07-09 18:57] performance opened #426 "Add support for 16 bit GrayScale TIFF"
It would be nice if support to read and write 16 bit GrayScale TIFFs is added.

[2015-07-09 19:22] nwin commented on #426
There is already read support for 16bit TIFFs but there is no support for writing any TIFF format.

[2015-07-09 21:44] performance commented on #426
nwin, I have been trying since last week, It cannot read a 16 bit GrayScale TIFF.

[2015-07-10 04:57] nwin commented on #426
Ah right, I'm just guessing what you did. You need to read them using the `TiffDecoder` directly. If it still does not work, please file a bug report including the error message, minimal code sample, and if possible the file in question.

[2015-07-14 08:49] ollie opened #428 "Size of a resized (down) image is higher than original"
Hello,

When I resize a PNG image down, the file size goes up considerably. Am I missing something in the code below? (Using image v0.3.11)

[code]

I am using this image https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png which goes from 218 KB to 480 KB after resize.

I can't wrap my head around this.
Thanks. :-)

[2015-07-14 10:37] nwin commented on #428
The image is currently saved uncompressed. This is fixed in `master`. I should release a new version soon.

[2015-07-14 10:37] #428 closed

[2015-07-14 11:37] ollie commented on #428
Thanks, you guys are the best. :-)

[2015-07-16 19:04] 00shiv commented on #325
I am getting the same panic with 0.3.11.

thread 'test_cluster_color' panicked at 'arithmetic operation overflowed', /home/shiv/.cargo/registry/src/github.com-0a35038f75765ae4/image-0.3.11/./src/jpeg/entropy.rs:73

Is there a work-around? Thanks. --shiv--

[2015-07-16 19:13] SimonPersson commented on #325
@00shiv: Yes, as mentioned earlier, it seems to work if you build in release mode (`cargo build --release`).

[2015-07-16 19:28] 00shiv commented on #325
Sorry. I should have added that doing so just moves the error to a slightly later stage.

thread '<main>' panicked at 'called `Result::unwrap()` on an `Err` value: FormatError("Could not decode symbol.")', ../src/libcore/result.rs:731

[2015-07-16 19:36] SimonPersson commented on #325
@00shiv: And you have no unwraps in your own code? Make a backtrace when that error occurs, and you will be more likely to get some help :)

[2015-07-16 19:44] 00shiv commented on #325
I do. But I thought it was coming out of the unwrap on the load call. I'll double check. Thanks.

[2015-07-20 11:13] nwin commented on #177
Encoding JPEGs is non-trivial and should be left to specialized libraries. I.e. mozjpeg. Closing for now.

[2015-07-20 11:13] #177 closed

[2015-07-20 11:14] #400 closed

[2015-07-21 17:10] lilith opened #429 "Specify 'requires nightly rust' to run tests?"
[code]

[2015-07-21 18:01] nwin commented on #429
Why, an where? For the consumer it is totally irrelevant.

[2015-07-21 18:03] nwin commented on #429
I’m actually surprised that travis is passing. That should not happen as we are also building with stable…

[2015-07-21 18:26] tomaka commented on #429
Tests are only run for the nightly:

[code]

[2015-07-23 07:45] Varentsov opened #431 "Panic in JPEG encoder"
I have this error when trying to save the picture as JPEG, with PNG all goes normal.

An unknown error occurred

maby I doing somthing wrong, here my code:
[http://pastebin.com/RNDWvUPg](http://pastebin.com/RNDWvUPg)

[2015-08-08 18:54] twoodford opened #434 "Panic in JPEG decoding of large image: arithmetic operation overflowed"
I get `thread '<main>' panicked at 'arithmetic operation overflowed', src/jpeg/decoder.rs:208` when loading the following image:

![20150728_0006](https://cloud.githubusercontent.com/assets/2175841/9151761/a09eaed4-3ddc-11e5-838e-2bf115b24c46.jpg)

Smaller images don't crash here.  It looks like `mcucount` needs to be a `u32` for images above 4194304 pixels.

[2015-08-09 09:45] nwin commented on #434
yes, that is correct

[2015-08-11 04:13] #434 closed

[2015-08-11 19:07] prewk opened #436 "The std::old_io in the examples"
Hi, I'm completely new at Rust so yell at me if I'm doing something wrong, but I can't open an image due to the use of `std::old_io`.

[code]

"src/main.rs:3:5: 3:22 error: unresolved import `std::old_io::File`. Could not find `old_io` in `std`"

[2015-08-11 20:20] Furyhunter commented on #436
Have you tried switching `use std::old_io::File` to `use std::fs::File`? Also, it doesn't appear as though it's used in this example anyway, so you could just remove it as well.

[2015-08-11 20:40] nwin commented on #436
Thanks for bringing this up, the examples really need to be updated…

[2015-08-12 07:39] prewk commented on #436
Yeah, I ended up using `let img = image::open("images/medium.jpg").unwrap();` which worked (sort of, the JPEG support wasn't what I'd hoped for but that's for another day I guess.)

[2015-08-16 08:14] nwin commented on #436
Closed via #437.

[2015-08-16 08:14] #436 closed

[2015-08-17 13:28] Varentsov commented on #431
OK, I found the first issue https://github.com/PistonDevelopers/image/issues/209.
It can be compiled with --release option

[2015-08-17 21:11] ruud-v-a commented on #431
This is in fact a bug. Compiling in release mode disables the overflow check, but the overflow should not be there in the first place, or if overflow is the correct behaviour then it should be made explicit.

[2015-08-25 17:46] brycefisher commented on #177
:+1: thanks for the explanation and totally agree

[2015-08-30 18:22] twoodford commented on #431
This overflow occurs when `write_bits()` is called with a size of zero and `self.accumulator` is empty (so that `self.nbits` is zero).  This means that the `u32` is shifted left by 32 bits, which appears to be the cause of the panic.  Checking for a length of zero before attempting to add the bits to the accumulator appears to resolve the problem.

[2015-09-14 13:10] killercup opened #440 "Way to compare pixel color values?"
I'm trying to compare the values of pixels/subpixel to specific color values. For a toy examples I want to collect a set of vibrant colors in an image.

My code looks something like this:

[code]

Sadly, the comparison is not possible, because:

[code]

[2015-09-16 14:57] tomaka opened #441 "Artifacts over JPEG image"
The original:

![Original](http://mdeverdelhan.developpez.com/tutoriel/dynamiclight/tutoriel6/images/normal.jpg)

Here is what image 0.3.12 decodes:

![Bug](http://i.imgur.com/9osWwAR.png)

[2015-09-16 16:18] nwin commented on #441
Duplicate of #209. I've a working implementation on my computer that fixes this but it still has some bugs with progressive images (currently unsupported).

[2015-09-16 16:18] #441 closed

[2015-09-16 16:21] nwin commented on #440
This is not a help forum, please ask this on reddit or the IRC channel.

To make your code work you'll probably need to make some restrictions to the associated subpixel type (::SubPixel=u8) or so…

[2015-09-16 16:21] #440 closed

[2015-09-17 09:17] killercup commented on #440
Thanks so much for your reply. I'm sorry for spamming your issue tracker! (I was in a hurry and this ticket was more the result of brain-dump at first convenient and relevant place I could find :smile:)

FTR, I got it working by restricting the subpixel type like you said:

[code]

[2015-09-24 11:57] bvssvni opened #444 "Remove osx test in .travis.yml"
Somebody asked on IRC why this was the case when there is no OSX specific code in the library.

[2015-09-24 15:30] nwin commented on #444
For the same reason we have a Linux test. There is no Linux specific code either.

[2015-09-24 16:35] bvssvni commented on #444
OK, closing.

[2015-09-24 16:35] #444 closed

[2015-09-27 10:18] theotherphil opened #448 "Library scope"
I'm not sure if this is really an "issue", but I couldn't see anywhere else to discuss it.

I want to write some toy computer vision applications in Rust, so need a bit of standard image processing functionality, e.g. histogram equalisation, contrast stretching, edge detection and HSL support.

I plan on implementing the features I mentioned, but is this library a sensible place for them? They don

[2015-09-27 14:23] nwin commented on #448
It would make sense to put it into a new crate and let image depend on it. Maybe even under the piston umbrella. @bvssvni what do you think?

[2015-09-27 17:25] bvssvni commented on #448
Expanding the image processing features would be great, but I'm not sure that it is a good idea to put it here.

Maybe we could move the processing features out of image and to the new library?

@theotherphil I've added you to the Admin group, so you can create new repos. Once you have created one, I will add labels.

Maybe it would be an idea to start the new library, work on it for a bit, and th

[2015-09-27 18:15] theotherphil commented on #448
Ok, thank. I've created imageproc. Piston seems to be a pretty broad net, but if you think that this isn't really covered then I won't be offended if you remove the repo!

[2015-09-28 21:51] bvssvni commented on #448
Nice, I added labels and the teams to [imageproc](https://github.com/pistondevelopers/imageproc). When publishing to crates.io, please add me as an owner, and I'll add some more people plus the PistonDevelopers team.

[2015-10-06 05:54] brycefisher opened #449 "Example of sobel operator?"
I'm trying to figure how to do some kind of edge detection using this library. It feels like all the right components are here, but I keep getting stuck.

The problem I'm encountering is that I need a grayscale image to use the sobel operator on. Using the image::load() method, I get a DynamicImage which always has u8 grayscale pixels. However, u8's in Rust don't implement a square root function w

[2015-10-06 06:43] theotherphil commented on #449
You could cast to a floating point type and then clip back after computing the gradient intensity. If you restrict your function to GrayImage inputs then you won't have to worry about how to convert arbitrary Subpixels to floats. Just in case you hadn't noticed, the filter3x3 function lets you do the actual convolving just by writing your kernel coefficients. I'm on a slightly broken phone atm so

[2015-10-06 17:50] brycefisher commented on #449
:+1: That's really helpful! I'll keep trying to play with my code as a learning exercise (which is the mostly the point anyway), but I'm looking forward to seeing your sobel operator!

[2015-10-06 17:50] #449 closed

[2015-10-08 23:27] alexchandel opened #451 "Support non-standard pixel types like Apple's BGRA"
Apple (and possibly Windows' GDI) use a non-standard pixel format internally, [BGRA](http://iphonedevelopment.blogspot.com/2008/10/iphone-optimized-pngs.html). This means that all image buffers that come out of `CGDisplayCreateImage` / `CGImageGetDataProvider` / `CGImageGetDataProvider` / Apple's graphics APIs have the B and R pixel swapped. It would be very convenient to be able to tell `image` t

[2015-10-09 04:31] mbrubeck commented on #413
image-png/issues#4

[2015-10-10 15:51] nwin commented on #451
I agree, we should add this as a new `ColorType`. Probably one should also add a conversion from `RGBA` to `BGRA` and vice versa via the `FromColor` trait.

[2015-10-11 17:03] xanium4332 opened #452 "ConvertBuffer trait is private"
The issue is an inconsistency and/or missing feature. As per the documentation an implementation of the `ConvertBuffer` trait exists for `ImageBuffer` ([see bottom of docs page](http://docs.piston.rs/piston_window/image/struct.ImageBuffer.html#method.convert)). However, attempting to use the `convert()` method fails due to the trait being marked private.

Either the documentation should omit menti

[2015-10-11 18:51] nwin commented on #452
Tanks for reporting tis issue.

Its a combination of a bug in rustdoc (for displaying te private trait) and an ommited export. Te trait sould of course be public.

(seems like my keyboard lost some letters :( )

[2015-10-11 21:46] xanium4332 commented on #452
I've submitted a one-line fix PR for this. `rustc` still provides incorrect help information if you attempt to use the method without `use`ing the trait. Specifically, `rustc` recommends `use`ing the trait from its private location (rather than publicly re-exported location). However, I believe this to be a `rustc` deficiency.

[2015-10-12 01:05] TyOverby opened #454 "Broken image test case"
When attempting to load this image, I get the error:

[code]

Oddly enough, this used to work several months ago.

![test](https://cloud.githubusercontent.com/assets/573215/10420211/14b47384-7042-11e5-801d-804da7b4cbe6.png)

[2015-10-12 05:01] nwin commented on #454
Could possibly be a duplicate of https://github.com/PistonDevelopers/image-png/issues/4. We also got a new decoder a few monts ago.

[2015-10-12 05:02] nwin commented on #452
Fixed by #453.

[2015-10-12 05:02] #452 closed

[2015-10-12 22:36] waddlesplash commented on #209
@nwin: You said a while ago you had an offline WIP that fixed a lot of this; has that gone anywhere?

[2015-10-13 22:29] jdm opened #455 "Run BMP decoder through bmpsuite"
http://entropymine.com/jason/bmpsuite/bmpsuite/html/bmpsuite.html is a really thorough suite of edge cases, and it would be great to put this decoder through its paces. Adding it to the automated tests would be great, too.

[2015-10-16 23:49] nathanaeljones opened #459 "Image fails to re-encode"
Re-encoding this as a jpeg causes a panic. Re-encoding it as a png causes visual artifacts.

![test copy](https://cloud.githubusercontent.com/assets/107935/10555524/6305a2b0-743e-11e5-91f6-a0a032b8cafd.jpg)

	dimensions (50, 50)
    RGB(8)
    thread 'test::test_convert' panicked at 'shift operation overflowed',     /Users/nathanael/.cargo/registry/src/github.com-0a35038f75765ae4/image-0.3.11/./sr

[2015-10-16 23:50] nathanaeljones commented on #459
Perhaps related to https://github.com/PistonDevelopers/image/issues/431

[2015-10-17 06:20] nwin commented on #209
@waddlesplash unfortunately not, I’m not having much time at the moment.

Since my WIP-version is a complete rewrite of the decoder in order to support streaming and progressive images it’s not easy to patch this issue since I’m not sure about the cause, I just know I don’t see it with my new decoder. But I have the strong suspicion that it might have something to to with the size of the image and

[2015-10-19 21:03] pix64 opened #462 "Working with large images and memory"
Currently the image decoders will decode the entire image and store the entire result vector in memory.

For large images this will eat up a lot of RAM potentially causing a Out of Memory panic. There should be a trait method to decode up to a certain buffer size so you can then process the those pixels (display pixels on screen, convert to another format, etc) and then move on with the rest of th

[2015-10-20 05:42] nwin commented on #462
I brought this topic up a few times. It's not a trivial task. You'll probably need to restructure some decoders. On top of that with a few formats that is not even possible (tiled TIFF, PNG and BMP) as they depend on one or more previous lines being present.

I think it should be up to the individual decoders to expose a memory saving interface that is best suited for the underlying format. `read_

[2015-10-20 08:52] paulrouget opened #463 "Panic while decoding favicon"
[code]

Using this file: https://news.ycombinator.com/favicon.ico

[2015-10-20 10:02] paulrouget commented on #463
Casting real_width/height to u32 appears to fix this issue. But I'm not sure this is the right approach.

[2015-10-20 14:37] waddlesplash commented on #463
#464 was merged, this is now fixed.

[2015-10-20 14:42] #463 closed

[2015-10-20 14:43] bvssvni commented on #463
Thanks @waddlesplash !

[2015-10-23 20:39] redaready opened #469 "Support flif"
http://flif.info/

[2015-10-25 20:51] frewsxcv opened #473 "Panic when decoding .ico"
[code]

[code]

found using [afl.rs](https://github.com/frewsxcv/afl.rs)

[2015-10-25 20:58] frewsxcv commented on #473
/cc @paulrouget @mbrubeck since you both touched this code recently

[2015-10-25 21:07] pix64 commented on #473
I think this is due to the fact –2147483648 * -1 is 2147483648 which can't
be represented but a 32-bit integer
On Oct 25, 2015 4:51 PM, "Corey Farwell" <notifications@github.com> wrote:

[2015-10-25 23:10] frewsxcv opened #474 "Panic when reading jpeg"
[code]

[code]

found using [afl.rs](https://github.com/frewsxcv/afl.rs)

[2015-10-26 20:32] #473 closed

[2015-10-26 20:44] mbrubeck commented on #474
Here's a backtrace:

[code]

The line doing the unwrapping is:

[code]

[2015-10-26 20:49] nwin commented on #474
Yes, the JPEG is invalid, still shouldn’t crash of course.

[2015-10-27 17:11] frewsxcv opened #477 "Panic when decoding ICO"
[code]
[code]

found using [afl.rs](https://github.com/frewsxcv/afl.rs)

[2015-10-31 14:14] bvssvni commented on #419
What's the status?

[2015-11-06 12:55] dns2utf8 opened #479 "Passing a DynamicImage to a function"
Hi all

I am having trouble passing an DynamicImage to a function:
[code]
The compiler complains it is private:
[code]

Did you solve this problem already?

Regards dns2utf8

[2015-11-06 13:03] nwin commented on #479
Could you please post a complete sample? I've the suspicion you're importing it from the wrong place. You need to import image::DynamicImage

[2015-11-06 16:31] dns2utf8 commented on #479
ah, thank you. I had the import wrong:

[code]

The Compiler misslead me with this Message:
[code]

Maybe we should add a similar example to the README:
[code]

[2015-11-06 16:48] nwin commented on #479
Yes, this is (Afaik) a know issue of rustc.

[2015-11-06 16:48] #479 closed

[2015-11-10 17:07] bvssvni opened #482 "Travis CI fails for Rust 1.0.0"
Currently the tests fails because an old bug in Cargo.

See https://github.com/rust-lang/cargo/pull/1714
See https://github.com/rust-num/num/pull/101

Thanks to @mbrubeck

[2015-11-10 17:08] bvssvni commented on #482
I think we should disable tests for 1.0.0 and require Rust stable.

[2015-11-13 18:17] froydnj opened #484 "check for overflow when allocating pixel data in decoders"
The BMP decoder, for instance, has:

https://github.com/PistonDevelopers/image/blob/master/src/bmp/decoder.rs#L387

which can easily overflow on a 32-bit system if a specially crafted BMP is used.  (The BMP Suite has just such an image, and while that calculation doesn't overflow on a 64-bit system, it does OOM.  One thing at a time...)

[2015-11-27 13:08] bvssvni opened #487 "Do not expose `byteorder::Error`"
Discussion: https://github.com/PistonDevelopers/image/pull/486

- [x] Hide all methods on `TIFFDecoder` except `new`
- [x] Hide `tiff::ByteOrder` as it is not needed in the public API

[2015-11-27 15:39] #487 closed

[2015-12-02 00:01] bvssvni opened #490 "Delete unused branches"
Seems that these branches are no longer needed:

- [x] old_io
- [x] tomaka-patch-1

[2015-12-02 00:27] bvssvni opened #491 "Host docs on docs.piston.rs"
Other projects uses a script to upload docs to the docs repo. Currently this repo seems to use the gh-pages branch.

[2015-12-03 15:06] bvssvni commented on #490
Done.

[2015-12-03 15:06] #490 closed

[2015-12-05 00:38] franleplant opened #494 "Type annotations required when creating ImageBuffer"
Hi!
    I'm kind of new with Rust so bare with me :)

Im getting this error:

[code]

I tried specializing with the `Rgba` pixel type like this:

[code]

but it didnt work.

Any ideas?

Thanks a lot!
Fran

[2015-12-05 21:05] ruud-v-a commented on #494
Try

[code]

instead.

[code]

is an alias for that.

[2015-12-08 01:36] franleplant commented on #494
Thanks! It worked!

[2015-12-08 01:37] franleplant commented on #494
Here, Ill give you this present for your help (I've done it with this lib
![example1](https://cloud.githubusercontent.com/assets/1852455/11645409/06d1534a-9d33-11e5-921e-f9bc4592c53e.png)
)

[2015-12-08 02:12] #494 closed

[2015-12-08 06:36] nwin opened #495 "Provide a link to Reddit and IRC in the docs."
We should provide a link to some source of helps such that the issue tracker doesn't get used as a help forum like for example in #494.

[2015-12-12 14:32] nwin commented on #491
We should use https for this script. As let’s encrypt is now running it shouldn’t be a problem to get a certificate.

[2015-12-14 22:04] bvssvni commented on #491
https://letsencrypt.org/

[2015-12-25 09:27] #431 closed

[2015-12-26 09:53] FredrikNoren commented on #134
Any progress on this one? I'm using this library for some OpenGL stuff, in which I use f32 textures for some thing. But since the DynamicImage doesn't support f32s (only u8) I have to write my own DynamicImage enum to wrap everything.

[2015-12-26 11:47] nwin commented on #134
No progress yet, but for your issue one wouldn’t need a new API. One could probably just implement

[code]
and work on ImageBuffer.

PRs are welcome. ;)

[2016-01-08 21:47] emberian opened #503 "Relicense under dual MIT/Apache-2.0"
# Why?

The MIT license requires reproducing countless copies of the same copyright
header with different names in the copyright field, for every MIT library in
use. The Apache license does not have this drawback, and has protections from
patent trolls and an explicit contribution licensing clause. However, the
Apache license is incompatible with GPLv2. This is why Rust is dual-licensed as
MIT/Apa

[2016-01-08 21:51] xanium4332 commented on #503
What is the process for a contributor to provide explicit approval?

[2016-01-08 22:01] frewsxcv commented on #503
I consent to relicensing my edits as MIT/ApacheV2

[2016-01-08 22:13] cmr commented on #503
@xanium4332 just leave a comment here.

[2016-01-08 22:14] pix64 commented on #503
I consent

[2016-01-08 22:15] jpernst commented on #503
I can't remember what I contributed exactly or if it qualifies, but just in case, I consent to relicense my contributions under MIT and Apache 2.0.

[2016-01-08 22:16] andrewrk commented on #503
I consented by using my collaborator rights to check my own box.

[2016-01-08 22:19] Gekkio commented on #503
Didn't even remember I made any changes to this project :)

I consent.

[2016-01-08 22:19] cybergeek94 commented on #503
Checked my own box with collab perms.

[2016-01-08 22:20] xanium4332 commented on #503
I consent to relicensing my edits as MIT/Apache-2.0

[2016-01-08 22:21] andersk commented on #503
I approve relicensing my contributions to dual MIT/Apache 2.0.

[2016-01-08 22:27] orangea commented on #503
I consent

[2016-01-08 22:38] mbrubeck commented on #503
I approve relicensing my contributions to dual MIT/Apache 2.0.

[2016-01-08 22:42] hauleth commented on #503
Let it be.

[2016-01-08 23:03] mprobinson commented on #503
I consent.

On 1/8/16, Łukasz Niemier <notifications@github.com> wrote:

[2016-01-08 23:08] XMPPwocky commented on #503
I consent.

On Fri, Jan 8, 2016 at 3:03 PM, mprobinson <notifications@github.com> wrote:

[2016-01-08 23:10] Ryman commented on #503
I consent.

[2016-01-08 23:10] ruud-v-a commented on #503
I consent.

[2016-01-08 23:22] gchp commented on #503
Fine with me!

[2016-01-08 23:30] lfairy commented on #503
I consent!

[2016-01-09 00:00] twoodford commented on #503
I consent to relicensing my edits as MIT/Apache v.2

[2016-01-09 00:24] huonw commented on #503
I consent.

[2016-01-09 01:02] TyOverby commented on #503
I consent to relicensing my edits as MIT/Apache v.2

[2016-01-09 01:31] bpicolo commented on #503
Relicense is fine with me.

Also, seems it's about time someone invents a license with a better relicense clause

[2016-01-09 02:15] m4rw3r commented on #503
I consent to relicensing my edits as MIT/Apache v.2

[2016-01-09 03:09] tafia commented on #503
I consent
On 9 Jan 2016 10:15, "Martin Wernståhl" <notifications@github.com> wrote:

[2016-01-09 04:26] lifthrasiir commented on #503
I'm fine with relicensing.

[2016-01-09 04:52] bombless commented on #503
I approve relicensing my contributions to dual MIT/Apache 2.0.

[2016-01-09 08:13] zsiciarz commented on #503
I consent to relicensing my contributions as MIT/Apache 2.0.

[2016-01-09 10:31] toqueteos commented on #503
I consent.

[2016-01-09 10:34] nwin commented on #503
I consent.

[2016-01-09 10:37] theotherphil commented on #503
I consent

[2016-01-09 12:57] froydnj commented on #503
I consent to relicensing my changes under an MIT/Apache-2.0 dual license.

[2016-01-09 17:16] brookst commented on #503
I consent.

[2016-01-09 19:08] b52 commented on #503
I consent.

[2016-01-09 19:12] cmr commented on #503
Pinging people due to github @-mention limit:

 @retep998
@PeterMozesMerl
@flying-sheep
@Blei
@rsaarelm
@SimonSapin
@sondrele
@stjahns
@lgvz
@Denommus
@bfops
@ahtn
@robo9k

[2016-01-09 19:14] lucidd commented on #503
I consent to relicensing my contributions as MIT/Apache 2.0.

[2016-01-09 19:24] retep998 commented on #503
I am okay with this.

[2016-01-09 19:43] PeterMozesMerl commented on #503
Sure, thank you for asking.

[2016-01-09 20:04] sondrele commented on #503
I consent!

[2016-01-09 23:01] bvssvni commented on #503
I approve dual licensing under MIT/Apache.

[2016-01-10 03:19] bfops commented on #503
Sounds fine, I agree.

[2016-01-10 10:32] rsaarelm commented on #503
I consent to relicensing my edits as MIT/Apache-2.0

[2016-01-10 11:03] flying-sheep commented on #503
i consent

[2016-01-10 15:58] robo9k commented on #503
I consented by using collaborator permissions to check my own box.

[2016-01-10 17:45] pavlov-dmitry commented on #503
I consent.

[2016-01-10 17:50] lgvz commented on #503
Fine with me.

[2016-01-10 23:54] jdpage commented on #503
I approve relicensing my contributions to dual MIT/Apache 2.0.

[2016-01-11 01:57] TyOverby commented on #503
I consent to relicensing my contributions as MIT/Apache 2.0.

[2016-01-11 08:48] ollie commented on #503
Yes please. (I consent.)

[2016-01-11 09:00] paulrouget commented on #503
I consent.

[2016-01-11 09:50] leonkunert commented on #503
I consent

[2016-01-11 18:10] Blei commented on #503
I consent to relicensing my edits as MIT/Apache-2.0

[2016-01-11 22:07] Esption commented on #503
The relicensing is fine by me.

[2016-01-12 01:01] Denommus commented on #503
I'm fine with it.

[2016-01-12 10:24] AngryLawyer commented on #503
Yeah go for it

[2016-01-12 15:18] stjahns commented on #503
I consent.

On Sat, Jan 9, 2016 at 2:12 PM, cmr <notifications@github.com> wrote:

[2016-01-14 03:31] gmorenz opened #507 "Incorrect comment"
From /src/ppm/encoder.rs

[code]

The comment about taking ownership appears to be incorrect.

[2016-01-14 18:11] nathanaeljones commented on #209
@nwin Is your WIP version anywhere that we could contribute to? I'm very interested in a robust & fast jpeg implementation, and I might be able to support a portion of the development.

[2016-01-15 10:27] nwin commented on #209
Thank you for your offer, you're right I shouldn't let it rot on my HDD. I think should be able to make my repo public within a week.

[2016-01-25 11:25] m-bra opened #508 "Broken link in doc"
The documentation of the [`image::math::nq`](http://www.piston.rs/image/image/math/nq/index.html) module contains a broken link (this one: http://www.acm.org/~dekker/NEUQUANT.HTML).

[2016-01-27 17:32] kvark opened #509 "Provide access to slice of pixels for images"
Currently, a dynamic image can be de-referrenced to `&[u8]`. This doesn't work well with strongly-typed texture initialization in GFX, where an `Rgba8` texture needs a slice to `[u8; 4]` for the input data. Here, `[u8; 4]` is the data type for the pixel data. It would be great if piston-image could provide this slice directly for our convenience. See https://github.com/gfx-rs/gfx/issues/851#issuec

[2016-01-27 20:18] nwin commented on #509
You mean you want to deref `DynamicImage` to `&[[u8; 4]]`? `&[u8]` is all we have. We could provide a `&[[u8; 4]]` if it is safe to cast `[T]` to `[[T; N]]` ∀ `T` to which not everybody seemed to agree last time we had it in this lib.

[2016-01-27 20:37] kvark commented on #509
@nwin yes, that's what I want. Do you... really need `&[u8]` at all?

[2016-01-28 05:49] nwin commented on #509
Well...yes. That is the format most people are using exchanging image data. As such the image buffer was specially designed to be baked by an array of primitives.

Beside that, there would be no reason why we would give a slice of arrays precedence over a slice of proper structs which would be more hairy to cast to an arrays of slices.

[2016-01-28 14:22] kvark commented on #509
"exchanging" is a bit broad here. What I see happening most of the time is people providing this data to the graphics API that uploads images to texture memory. And here comes the interesting point - the graphics API at the lowest level is still receiving `void *` (see [glTexImage2D](https://www.khronos.org/opengles/sdk/1.1/docs/man/glTexImage2D.xml)), so the cast is imminent. Some better-typed ru

[2016-01-28 16:06] nwin commented on #509
I think we could spin circles discussing that.

In short:

A) The underlying storage will have to stay a array of primitives. One of many reasons: All image formats do so.
B) I don't see any way of implementing that feature nicely until at least associated constants are stable. So I'll propose postponing this.

[2016-01-28 16:21] kvark commented on #509
What do you mean by `primitive`? `u8`? Isn't `[u8; 4]` a primitive?

That's not a strong argument. Perhaps, we could re-consider this?

Could you elaborate on how you'd use associated constants here?

[2016-01-29 00:53] indiv0 commented on #503
I consent.

[2016-01-29 09:50] SimonSapin commented on #503
I’m OK with this if the maintainers are.

[2016-02-03 16:09] simias opened #510 "The documentation for ImageBuffer::pixels_mut and enumerate_pixels_mut seem swapped"
Unless I missed something It's `enumerate_pixels_mut` that yields "the coordinates of each pixel along with a mutable reference to them."

[2016-02-03 16:32] nicokoch opened #511 "Will more specialized image algorithms eventually be supported?"
I was asking myself if more specialized algorithms like canny edge detection are planned for this library (essentially making this an opencv replacement over time if you think this further) or if the focus will be on just encoding and decoding?

[2016-02-03 16:33] bvssvni commented on #511
You might want to take a look at https://github.com/pistondevelopers/imageproc.

[2016-02-03 16:40] nicokoch commented on #511
Thanks, exactly what I was looking for

[2016-02-03 16:41] #511 closed

[2016-02-18 17:40] petevine opened #512 "Panic on jpeg decoding - 'arithmetic operation overflowed'"
[code]

I was using yesterday's rustc nightly `1.8`, NEON is normally enabled by default.

Before that crash, a few other jpegs were successfully decoded.

I managed to get another type of crash caused by lack of SOF2 support but there's an issue about it already.

[2016-02-18 17:51] sp3d commented on #512
I'm seeing the same backtrace (modulo hashes) on x86_64.

[2016-02-18 18:01] petevine commented on #512
Oh, great - then it's a cross-platform bug not related to arm, neon or even 32bits :)

[2016-02-18 23:53] petevine commented on #512
Among maybe 2 dozen images I've tried through a script, just these two fail to load:

[exif_dump.txt](https://github.com/PistonDevelopers/image/files/137169/exif_dump.txt)
[exif_dump2.txt](https://github.com/PistonDevelopers/image/files/137171/exif_dump2.txt)

Another file from the same camera loads fine:
[exif_dump3.txt](https://github.com/PistonDevelopers/image/files/137177/exif_dump3.txt)

[2016-02-22 22:44] jonas-schievink commented on #419
Any progress? How's @eddyb's implementation looking, @nwin? I couldn't find an updated version anywhere.

[2016-02-25 06:09] nwin commented on #419
@jonas-schievink to my knowledge there is no update on this.

[2016-02-27 18:05] #474 closed

[2016-02-27 22:29] kaksmet commented on #114
Fixed by #513

[2016-02-27 22:29] #114 closed

[2016-03-02 07:27] #512 closed

[2016-03-05 00:50] Coohack opened #516 "failed to decode huffman code"
please help:
on ubuntu 15.10, rust 1.7.0
panicked at 'called `Result::unwrap()` on an `Err` value: FormatError("failed to decode huffman code")', ../src/libcore/result.rs:688

this error happen with one jpg, but other jpg worked!

[2016-03-05 07:38] kaksmet commented on #516
Can you upload the image that fails to decode somewhere and link it here please?

[2016-03-05 14:24] nwin commented on #209
@nathanaeljones a bit late, but as promised: https://github.com/nwin/rust-jpeg

[2016-03-08 15:20] Coohack commented on #516
[http://imagesite.ezhijie.net/image/devel/cf1ffefc-32cf-4280-8a20-6d8f77adc893](url)

[2016-03-08 15:43] oyvindln commented on #419
Someone also made a full rust port of [miniz](https://github.com/alexchandel/miniz-rs), it seems inactive now, but maybe it could be a starting point.

[2016-03-08 17:28] kaksmet commented on #516
I can't seem to reproduce this using the link you provided.

[2016-03-08 23:47] kaksmet commented on #516
I just fixed a bug in the JPEG decoder which might have been the cause of this error.
Could you try running `cargo update -p jpeg-decoder` and see if it still fails?

[2016-03-09 05:39] Coohack commented on #516
thanks a lot!

[2016-03-09 13:04] #516 closed

[2016-03-09 17:39] jonas-schievink commented on #419
@oyvindln I took a look at it (since I *just* stated doing the exact same thing - porting miniz.c to Rust), and it uses (x86-only?) inline assembly to implement the decoding - miniz.c uses coroutines implemented with C macros and some switch-construction akin to Duff's device (this pattern is probably well-known among C programmers), so that looks like it'd be a non-starter.

The bad thing is that

[2016-03-09 21:40] oyvindln commented on #419
Indeed, the linked port is not very idiomatic rust. Maybe starting a rust implementation from scratch and focusing on safety and correctness first before venturing into low-level optimisation is the better approach. In any case I'm interested in working on this issue, but I'm not quite sure where to start seeing as there are a number of inactive half-finished attempts at implementing zlib in rust.

[2016-03-09 22:15] eddyb commented on #419
@nwin Not sure what you mean, but I believe the updated inflate code lives at https://github.com/PistonDevelopers/inflate.

[2016-03-09 23:12] jonas-schievink commented on #419
Heh, so apparently `inflate` is already used by `image-png` (and thus `image`) for PNG decoding, there's just no way to turn off PNG encoding so `flate2` is always included as well... It should be quite easy to get the PNG decoding part `flate2`-free by adding and propagating the right Cargo features. That would already help me since I don't strictly need encoding.

[2016-03-10 05:27] nwin commented on #419
@eddyb this discussion was about de- and encoding and I was assuming that @jonas-schievink was asking if there was any update to the encoding part.

[2016-03-20 00:08] Razican commented on #469
I created an interface for the C decoding library: https://github.com/Razican/libflif_dec-rs
Maybe it can be used from here or it could be adapted. It uses current development snapshot.

[2016-03-21 21:02] nwin commented on #469
Thank your, but we intend to use only en-/decoders written in Rust. So no, we can’t use it here.

[2016-03-21 21:19] Razican commented on #469
Oh, that'd be great, maybe in some months I can help on it, but I currently don't have time to port all the algorithm :/

[2016-03-25 20:28] LifeIsStrange opened #517 "AMD optimisations documentation and opencl use cases."
AMD has done a lot of image decoder/encoder research, and notably on the openCL use ways, so I share to you this work.
Sorry for my bad english.
http://developer.amd.com/resources/documentation-articles/articles-whitepapers/jpeg-decoding-with-run-length-encoding-a-cpu-and-gpu-approach/

https://www.google.fr/url?q=http://developer.amd.com/wordpress/media/2013/06/1721_final.pdf&sa=U&ved=0ahUKEwiF1-

[2016-04-02 16:27] tigranbs opened #520 "Encoding animated GIF"
Hi, I'm trying to encode animated gif , but I can't find encode functionality with multiple Frames. <br/>
Is it possible to do ?

[2016-04-02 18:13] nwin commented on #520
Not with `image` as it just provides a very general API. You would need to use `gif` directly.

[2016-04-03 12:36] tigranbs commented on #520
Thanks for your response !
But how refer to GIF directly ?  do you know libs for Rust ?

[2016-04-03 18:33] bvssvni commented on #520
@tigranbs See https://crates.io/crates/gif

[2016-04-06 21:07] zmoshansky opened #524 "Support SVG"
This would be fantastic to round out the very commonly used formats. More specifically, just loading and displaying an SVG would be very useful.

It's scalable nature makes it well suited for icons as a better alternative to PNG/GIF/WEBP(Exciting to see WEBP support!) for GUI's.

[2016-04-06 21:27] pix64 commented on #524
This library is really focused on raster graphics formats. The API doesn't really lend itself well to vector images. You throw an image at it and it decodes it to an array of RGB bytes. Each time you wanted to render your vector image at a different resolution you would have to completely reparse the svg file from scratch.

[2016-04-06 21:55] zmoshansky commented on #524
Hmm, I was worried that that was the issue at hand. I've added information below for posterity, closing as it seems out of scope for this project... Perhaps another Piston library.

I'm actually having a tough time finding references to rasterizing SVG to RGBA in rust. I assume the rendered RGBA could then just be stuffed into an ImageBuffer and used easily within Piston.

It looks like the option

[2016-04-06 21:55] #524 closed

[2016-04-16 19:27] Undeterminant commented on #520
Is there a reason why the current `encode_frame` drops self? It seems like a remodelling of that function and the addition of a `finish` method would be good enough to allow multiple frames.

[2016-04-17 15:28] bvssvni commented on #520
@Undeterminant Can you open up a new issue for this?

[2016-04-17 15:41] nwin commented on #520
@Undeterminant: I guess `image::gif` shouldn’t be public. For format-specific things one should use the `gif` library directly.

[2016-04-17 20:56] Undeterminant commented on #520
@bvssvni I was more proposing a solution to not being able to encode animated GIFs, although I wasn't aware that the `gif` module wasn't intended for general use. I ended up just using the `gif` crate directly regardless.

[2016-04-22 07:10] jdpage commented on #503
Any word on moving forward with this? There are still several people who haven't responded yet. Should someone try to contact them out-of-band (email?) and get their consent?

[2016-04-22 10:44] bvssvni commented on #503
The biggest contributor that has not given consent yet is @ccgn.

[2016-04-22 12:14] flying-sheep commented on #503
he starred something three weeks ago and didn’t do anything else on github within the last year

[2016-04-22 19:51] ccgn commented on #503
Wow! Sorry for the late reply. I think this is a good idea.
I give my consent

[2016-04-22 20:20] bvssvni commented on #503
Reminder:

@Potpourri @ahtn if you give consent, I think we're ready.

@maxsnew @dummer @Doom032 @burtonageo have made minor contributions, but would like to hear your input before making license changes.

[2016-04-23 13:32] flying-sheep commented on #503
@ccgn sorry for stalking your public activity, on your github profile i just wanted to know if it’s realistic that you would respond.

[2016-04-24 12:55] ccgn commented on #503
@flying-sheep its no problem i was just exclaiming that i missed this long thread for months

[2016-04-24 16:51] bluss opened #529 "Don't use untrusted Deref/DerefMut traits for generic backends"
These traits are simply not reliable for "backend" generics, i.e. when you need to trust the implementor for some kind of temporal consistency (that the length they tell you about is consistent with what the slice the deref call returns the next time it's called and so on).

See also https://github.com/rust-lang/rust/issues/29701 and https://github.com/rust-lang/rust/issues/29701#issuecomment-1548

[2016-04-29 16:10] bvssvni commented on #454
Fixed by https://github.com/PistonDevelopers/inflate/pull/2. Reopen if still a problem.

[2016-04-29 16:10] #454 closed

[2016-05-05 19:04] dummer commented on #503
Sorry for the late reply. Yes, I consent to relicensing my edits as MIT/Apache-2.0.

[2016-05-12 13:11] softprops commented on #257
Has any progress been made on this? I'm trying to get a sense of how it may compare performance wise to ImageMagick

[2016-05-23 00:33] ahtn commented on #503
I consent

[2016-05-25 00:08] mbrubeck opened #534 "Unexpected output from decoding some ICO files"
Originally reported as servo/servo#10305: the attached ICO files are not decoded as expected.

[icons.zip](https://github.com/PistonDevelopers/image/files/280745/icons.zip)

[2016-05-27 21:51] pix64 commented on #534
I'm using a hacked up version of Image because I can't get the PNG encoder to compile (miniz-sys doesn't want to compile out of the box on Windows).

These files report an extremely large value for image length in the image directory header and the image offset doesn't seem to point to the beginning of the image data.

Offsetting smile.ico by an additional 64 bytes before reading image data result

[2016-05-28 03:41] philipc commented on #534
That extra data is the color palette. We are reading the color palette correctly, but the bug seems to be that read_metadata_in_ico_format() doesn't include the color palette size in data_offset.

[2016-05-28 06:54] philipc commented on #459
Fixed by #513

[2016-05-28 06:54] #459 closed

[2016-05-30 11:11] philipc commented on #477
Closed by #535

[2016-05-30 11:11] #477 closed

[2016-05-31 06:55] philipc commented on #209
This appears to have been fixed by #513 . The original link no longer works, but the attached in.jpg looks okay to me now.

[2016-05-31 16:23] nathanaeljones commented on #209
@nwin I forgot to thank you for uploading that! I've been working on other parts of [Imageflow](https://github.com/imazen/imageflow) (and getting [tomorrow's Kickstarter prepped](https://www.imageflow.io)!), but Rust implementations of the codecs are high on my priority list.

[2016-06-04 09:11] wrnice opened #537 "examples won't compile due to image 0.9.1"
Hello
trying to run the conrod examples, I hit an error whe rustc tries to compile image :

.cargo/registry/src/github.com-88ac128001ac3a9a/image-0.9.1/./src/tiff/decoder/mod.rs:179:49: 179:72 error: the trait `num_traits::cast::FromPrimitive` is not implemented for the type `tiff::decoder::PhotometricInterpretation` [E0277]

Forcing image ="0.10.0" in cargo.toml does the trick.

[2016-06-04 09:15] wrnice commented on #537
why did I put this here ? this goes to conrod

[2016-06-04 09:16] #537 closed

[2016-06-05 05:08] philipc opened #539 "Add alpha support for bmp decoder"
The bmp decoder can read rgba32 images, but currently it discards the alpha information when we're not reading an ico file.

[2016-06-05 08:29] #534 closed

[2016-06-06 07:18] philipc opened #540 "Decoding V4/V5 bitmaps with palettes fails"
Test with pal8v4.bmp and pal8v5.bmp from https://github.com/jsummers/bmpsuite.

[2016-06-06 13:28] palfrey opened #543 "Image resampling results in "arithmetic operation overflowed""
Using the code at https://gist.github.com/palfrey/c140beb4c55b279de0af2a76cc5984cd and the test image in the comment of the gist, I can get the below. This is because the height of the image is 0. I would submit a PR with a non-panic error for this, but that would change the API for "resize" which currently always wants to spit out an `ImageBuffer` not a variant of `Result<ImageBuffer>`. Any thoug

[2016-06-07 12:55] philipc commented on #539
@pix64 I'm mostly finished adding alpha support for bitfield bitmaps. (Note that this isn't for RGB32 bitmaps, for which we are correctly ignoring the "alpha" information.) However, after implementing this support, the reference tests for V3_A1_R5_G5_B5.bmp and V3_A4_R4_G4_B4.bmp are failing. This is because these images do contain alpha information (the alpha mask is non-zero), but we were ignori

[2016-06-07 13:22] phillipCouto opened #544 "TIFF + LZW Compression can't decode"
According to the readme TIFF decoder should support LZW compression but when I try to decode a LZW compressed TIFF I get the following panic + backtrace:
[code]

Here is the image both compressed and uncompressed I used to reproduce the behaviour.
https://www.dropbox.com/sh/7z9q1ox8zgiown9/AADhTT0yMSyGRA3HI52xaO4pa?dl=0

[2016-06-10 10:45] philipc opened #545 "Run TIFF decoder through tiff test images"
Images at http://www.remotesensing.org/libtiff/images.html

[2016-06-10 21:12] #544 closed

[2016-06-10 21:14] #540 closed

[2016-06-10 21:26] pix64 commented on #539
They were created with Photoshop. Windows and Photoshop both thinks all the pixels are opaque.

[2016-06-10 21:38] philipc commented on #539
Ah okay, they're more likely to be right. Do you know of any documentation on the V3 header?

[2016-06-10 21:59] pix64 commented on #539
Upon further inspection photoshop does realize there is an alpha channel it just doesn't associate it with transparency. When I created the image the default alpha channel all black (zeros).

[2016-06-10 22:29] philipc commented on #539
The reason I created this issue is because http://entropymine.com/jason/bmpsuite/bmpsuite/html/bmpsuite.html has a bunch of images with alpha channels, and claims that these should be displayed as transparency. Both firefox and gimp treat them as transparency, but Microsoft Edge ignores the alpha channel for all of these images. Any opinion on how we should treat it? My feeling is we should read t

[2016-06-10 22:42] pix64 commented on #539
I think that is a reasonable approach.

[2016-06-11 07:51] nwin commented on #545
That’ll be nice but we would need to be very picky about the test images. We don’t support these fax encodings, no jpegs, etc. That I didn’t add a test image for `lzw` was my oversight though.

[2016-06-11 09:53] #539 closed

[2016-06-13 10:52] red75prime opened #548 "Use case: decode Radiance HDR image, upload into video memory"
Radiance HDR image format uses 4-byte shared exponent representation. Decoding it into a vector of `RGB<f32>` pixels, then recompressing it into, say, `RGB9_E5_EXT` requires 3 times more memory than really needed, thanks to the Pixel trait.

Pixel trait is responsible for 1. enforcing storage format (`from_slice`, `channels` methods constraint underlying representation to `[Subpixel; n_channels]`)

[2016-06-15 09:53] retep998 opened #549 "Iterator types are hidden in the documentation"
While the iterator types are marked as `pub` (thereby bypassing the private in public checks in Rust), they are inside a module which is private, and are not re-exported into a public location. Therefore when viewing the documentation, I cannot view these iterator types, so it makes it somewhat difficult to figure out what the iterators output.

[2016-06-16 05:10] nwin commented on #549
About which iterator types are you talking? Pixels and friends? They are not bypassing any checks. They are re-exported in lib.rs, that's a bug in rustdoc. Afaik that issue is already in the bugtracker.

[2016-06-16 05:14] retep998 commented on #549
Yes Pixels. And yes I now see that they are indeed re-exported, which means rustdoc is just being terrible as usual.

[2016-06-18 14:45] kladd commented on #419
Is this the reason for the dependency on GCC or was that bug introduced some other way?

[2016-06-18 14:50] jonas-schievink commented on #419
I think it is

Kyle Ladd <notifications@github.com> schrieb am Sa., 18. Juni 2016, 16:45:

--

Gruß, Jonas

[2016-06-19 16:18] stan4cb opened #553 "fractal example is broken"
let mut imgbuf = image::ImageBuffer::new(imgx, imgy);

type annotations required: cannot resolve `<_ as image::Pixel>::Subpixel == _` [E0284]
rustc 1.11.0-nightly (bb4a79b08 2016-06-15)

[2016-06-19 17:06] nwin commented on #553
Works fine here. Did you modify the example?

[code]

[2016-06-19 17:16] nwin commented on #549
Just out of curiosity, what about http://www.piston.rs/image/image/struct.Pixels.html? It’s there…

[2016-06-19 17:41] stan4cb commented on #553
hmm, i've and it seems the problem was missing
`let _ = image::ImageLuma8(imgbuf).save(fout, image::PNG);`
line

[2016-06-19 17:44] #553 closed

[2016-06-19 18:38] retep998 commented on #549
But they're not linked on http://www.piston.rs/image/image/struct.ImageBuffer.html

[2016-06-30 00:06] joshtriplett opened #556 "Please support resize with height or width omitted"
`DynamicImage::resize` takes a width and height, and resizes preserving aspect ratio.  However, sometimes the operation you want is "make the image this wide" or "make the image this tall", without caring about the other dimension other than preserving aspect ratio.  Rather than calculate this by hand, I'd like to have a resize method that takes two `Option<u32>` arguments for the sizes, which wou

[2016-06-30 07:37] philipc commented on #556
Can you already achieve that by specifying `u32::MAX` for the dimension you don't care about? I think the idea of the current `resize` is that you specify a bounding box, and it scales the image to fit within that box.

[2016-06-30 08:07] joshtriplett commented on #556
@philipc The exact semantic of `resize` wasn't entirely obvious at a glance. Would you consider documenting the "bounding box" behavior in the documentation for `resize`? That would address this bug without needing to add a new function.

[2016-06-30 08:39] philipc commented on #556
Yes, I think that should be documented. The current description for `nwidth` and `nheight` is incorrect.

[2016-07-09 17:39] rsaarelm opened #558 "Add more documentation for InnerImageView (eg. SubImage) and InnerImage (eg. SubImageMut)"
There's currently only one SubImage type which requires the parent image reference to be mutable. Creating a subimage of an immutable image isn't possible, despite this having obvious use cases. The standard Rust pattern of parallel mutable and immutable accessor types (eg. IterMut and Iter) could be used here. Rename current SubImage with the mutable access to the parent image to SubImageMut and

[2016-07-12 17:55] HarryLovesCode opened #559 "Support for 15-bit and 16-bit TGA file formats"
Hello,
I noticed recently that the TGA decoder didn't support 15-bit and 16-bit formats. This led me to ask the question, does this crate handle non-8-bit components? From what I understand, it doesn't (see [`dynimage.rs`](https://github.com/PistonDevelopers/image/blob/master/src/dynimage.rs#L45-L57)).

So, if I were to implement support for TGA file formats that use 5-bits per component, how woul

[2016-07-12 18:17] nwin commented on #559
There is limited support for 16-bit formats. DecodingResult::U16 exists but it is not used  in https://github.com/PistonDevelopers/image/blob/master/src/dynimage.rs#L450. The most sensible approach would be to just scale it down. :)

When implementing reading `uN, (N%8 != 0)` image types you have  two options. Scale it to the next bigger uint and lie about the `ColorType`. Or just read it into an

[2016-07-12 21:31] philipc commented on #559
The BMP decoder is currently scaling to `u8` and lying about the `ColorType`. It can handle any non-8-bit components. (It's also scaling down in some cases which isn't ideal, but those are unusual BMP formats.) @nwin Is it worth moving that scaling out of the BMP decoder? My main concern with that is it might be slower, but not sure how much that matters.

[2016-07-13 18:49] akonneker opened #560 "16-bit grayscale pngs decoded as 8-bit"
So I have a bunch of 16-bit pngs I need to decode, but the decoder is reading them as 8-bit. PNGDecoder reports the pixel type as Gray(8).

I had a similar issue with the c++ library I'm using now (lodePNG), but it has the option to enforce a particular pixel type and bit depth, which fixed the issue.

Is there a similar capability here, and if not, how difficult would it be to add?

I've attached

[2016-07-16 11:08] nwin commented on #559
You’re right it’s not worth it.

[2016-07-16 11:24] nwin commented on #560
Currently, there is poor support for 16 bit images, currently it just discards the lower bits. You would have to use the png crate directly.

[code]

[2016-07-19 18:58] akonneker commented on #560
Your snippet seems to do the trick. Thanks!

Would it be straightforward to add the capability to return 16-bit png's from the image decoder, or are there assumptions of 8-bit-ness elsewhere that would need to be changed?

[2016-07-21 10:05] #556 closed

[2016-07-24 11:26] flosse opened #563 "How to get an RGB String?"
It should be easy to get s.th. like `"#aa00cc"` but I wasn't able to do it.

`pixel.to_rgb().to_string()`  doesn't work of course so how can I access the raw values to construct the string myself?
I thought it could work like this:
[code]
But this doesn't work: `expected type 'u8'` ... `found type '<P as image::Pixel>::Subpixel'`.
So how can I get the value of a `Subpixel`?

[2016-07-24 11:33] nwin commented on #563
Looks like there is missing some context such that rustc is not able to determine that `Subpixel` is an `u8`. Probably it wouldn’t be to stupid to have an `as_hex()` convenience method for rgb.

Please note, that this is not a help forum.

[2016-07-24 11:33] #563 closed

[2016-07-27 03:16] wolfiestyle opened #564 "Resizing to the same size isn't no-op"
If you resize an image to it's same original size, it gets distorted/blurred by the filter, when it actually should do nothing.
Code used to reproduce the bug:

[code]

Used Lanczos only as an example, it does the same with the other filters.
Compiled with image v0.10.1 under Gentoo linux x86_64.

[2016-08-04 12:40] nox opened #565 "Wall of warnings with latest nightly"
[code]

[2016-08-04 13:07] shepmaster commented on #565
Likely caused by the switch to using MIR by default?

[2016-08-04 14:32] nox commented on #565
Yes but the warnings are legit.

[2016-08-04 17:55] nwin commented on #565
They aren’t that code is unreachable.

[2016-08-04 18:40] nwin commented on #565
It is definitively MIR-related, I filed it under https://github.com/rust-lang/rust/issues/35316

[2016-08-06 20:47] #565 closed

[2016-08-12 10:21] nox opened #568 "Publish 0.10.2"
I just want the warnings fixes.

[2016-08-13 09:08] #568 closed

[2016-08-16 15:04] Ploppz opened #572 "No documentation for construction functions (Luma, Rgb..)"
Reading [this](https://github.com/PistonDevelopers/image#62-generating-fractals), I noticed `*pixel = image::Luma([i as u8]);`.

The `Luma` function (and probably for other pixel types), isn't documented (or I can't find it). It should probably be documented.

[2016-08-19 06:08] nwin commented on #572
Originally this was a 1-tuple, I wonder why this construct still works. Does anybody has an idea?

[2016-08-19 07:06] philipc commented on #572
It's a function defined at https://github.com/PistonDevelopers/image/blob/bc8b8e5b34ab6b9c6caee7ba60a77451631411fc/src/color.rs#L68.

[2016-08-19 14:54] nwin commented on #572
Seems like a bug in rustdoc then. The functions don't appear in the docs.

[2016-09-13 13:17] inDream opened #575 "[Suggestion] Support HSV color"
I've tried to add HSV color but as I am beginner of rust, I cannot deal with float inside trait.
Anyone can help for the color type setup?

[2016-09-13 13:21] nwin commented on #575
Can you please be more specific? In general it currently quite challenging  to abstract over number types in rust.

[2016-09-13 15:10] inDream commented on #575
@nwin  I've added `HSV(f64)` in `pub enum ColorType`.
I need to change `#[derive(Copy, PartialEq, Eq, Debug, Clone)]` to
`#[derive(Copy, PartialEq, PartialOrd, Debug, Clone)]`
For error: no method named `assert_receiver_is_total_eq` found for type `f64` in the current scope.

And for marco rule `fn color_type() -> ColorType`, it need to determine the color type and I don't know how to get the size

[2016-09-14 08:26] nwin commented on #575
That is not how `ColorType` is intended to be used, it doesn’t contain any data, just the bit depth, hence add `HSV(u8)` to the enum.

Further you do not need to determine any size, the macro does everything for you, see [line 211](https://github.com/PistonDevelopers/image/blob/d79d156e3527d6511ad6a925c34d66a725b2ef97/src/color.rs#L211) on how to define a new pixel type.

[2016-09-14 08:42] inDream commented on #575
@nwin So I need to use integer to represent HSV? i.e. [0-360, 0-100, 0-100]?
But I think this will loss precision during conversion.

[2016-09-14 10:31] nwin commented on #575
No, you do not have to use integers to implement a HSV pixel type. I think you are still on the wrong track. `ColorType` is just representing the color type + bit depth. I does not say anything about the type used for implementing the actual logic. See `ColorType::RGB` and `Rgb<T>`.

[2016-09-14 15:05] inDream commented on #575
@nwin So I need to define `HsvImage` in `buffer.rs` as:
`pub type HsvImage = ImageBuffer<Hsv<u8>, Vec<f64>>;` ?
When I do that, I got error E0308 & E0271 for all imageops:
[code]
Also, as methods in `dynimage.rs` return `Vec<u8>`, how can I fix them?

current code: https://github.com/inDream/image/commit/b208750f6f8123849f4bbc17f9bcc7bdb629a0f3

[2016-09-14 16:05] nwin commented on #575
After thinking about it, it would be best if you touch neither DynamicImage or ColorType for now, because it would break a lot of the public api without giving much benefit. Nevertheless I think it would be a valuable contribution to add HSV as a pixel type.

1. You do not need to define `HsvImage`, the other types are just a shortcut for commonly used types and currently I do not see any preceden

[2016-09-14 18:01] inDream commented on #575
1. I think `HsvImage` is needed for add `to_hsv()` method.
2. Could you specific I need to change which file?
3. It produce new error when I do that:
[code]

So currently it's difficult to support color type other than `u8`?

This is a related thread: https://www.reddit.com/r/rust/comments/2rez8d/
Updated code for ref: https://github.com/inDream/image/commit/22dbe228e307716e39695a87c6a480c757f7e41

[2016-09-15 19:37] joshtriplett opened #577 "Support guessing format when loading from file"
`image::open` only uses the filename extension.  `image::load_from_memory` can guess the format based on magic numbers, but requires loading the image into memory first in a separate step.  Please consider adding a function to read an image from a file but guess the format based on magic numbers.

[2016-09-16 05:51] nwin commented on #577
What would be the benefit of it? Content based type guessing is usually a bad idea if you have another type indication. The internet explorer was quite good at it by parsing files as “text/html” which where explicitly send as “text/plain”.

[2016-09-16 06:11] nabijaczleweli commented on #577
Which internet explorer?

[2016-09-16 06:16] nwin commented on #577
Haven't tested that in a while. I can confirm IE6.

[2016-09-16 06:17] nabijaczleweli commented on #577
Oh, you mean IE, not some random internet explorer.

[2016-09-16 06:20] nabijaczleweli commented on #577
As for "What's the benefit of it" -- simplicity of use. No longer woild one have to do [this](https://github.com/nabijaczleweli/termimage/blob/51f2378c4d4d9d8bedcd36cb6d5266c1f4f94078/src/ops/mod.rs#L51-L86):

[code]

To guess image format from either the extension or from the magic (and the magic tests are not as great as I'd like them to be, but eh, simplicity), but rather let `image` handle tha

[2016-09-16 06:45] nwin commented on #577
Let me ask differently, what is the use case? How many image files w/o file extension are there? I don’t want to put too much “intelligence” in to a single function. Currently there is only one way for each data source which is fine. Personally, I consider an image file without extension either to be broken or to be application specific. In the latter case you do not have to guess.

[2016-09-16 06:50] nabijaczleweli commented on #577
Fixed functions ex definitione don't have intelligence, so you don't have to worry about that.

[2016-09-16 06:51] joshtriplett commented on #577
On Thu, Sep 15, 2016 at 10:51:34PM -0700, nwin wrote:

The web doesn't rely on file extensions, though; it relies on MIME
types.  And I agree that you shouldn't guess based on content if you
have a MIME type, or if you have a file extension.  But if you don't
have either of those, then I'd like to have a function that can check
magic values rather than give up.

As a random example of files withou

[2016-09-16 22:02] sector-f opened #578 "Make a transparent image?"
I'm trying to open an image, make it partially transparent, and then copy it to a solid background.

I'm loading the image using `load_from_memory`, which gets me a `DynamicImage` (of the `ImageRgb8` variant, as far as I can tell). I'm getting a solid image with `ImageBuffer::from_pixel`, and then making a `DynamicImage` from that.

Here's how I'm trying to make the image transparent:

[code]

So,

[2016-10-11 20:29] durka opened #579 "update changelog"
CHANGES.md only goes up to 0.4 and I'm not sure if there is anything I need to know before upgrading from 0.7.

[2016-10-20 15:43] liftoff opened #580 "[Request] Support X11's Z_PIXMAP image format"
I'm writing a little screen capture tool in Rust and trying to get this library working with X11's Z_PIXMAP format (specifically, `XCB_IMAGE_FORMAT_Z_PIXMAP`).  I believe it is in `BGRX` format but I'm not certain (haven't delved too deep just yet).

I can retrieve the image from the X11 server but once I've got it I have no means of using it with `image` because I can't figure out how to get the

[2016-10-21 02:07] liftoff commented on #580
I have since figured out how to read Z_PIXMAPs into `ImageBuffer`!  For reference, here's how I did it:

[code]

Hopefully this will aid in adding native Z_PIXMAP support :smile:

[2016-10-22 09:59] nwin commented on #578
Regarding the difference between `map` and `apply`, the docs are pretty clear. `apply` works in-place while `map` produces a copy. Have a look at the signature. Regarding the blending, probably you want to use `blend`?

[2016-10-22 09:59] #578 closed

[2016-10-22 10:13] nwin commented on #572
I created an issue #37342. The documentation actually exists but is not linked.

[2016-10-23 21:49] agersant opened #581 "Expose quality/compression controls when saving as JPG"
When saving images as JPG, it would be useful for users to decide how much they want the image to be compressed.

[2016-10-25 17:24] liftoff opened #582 "[Suggestion] WebP Encoding Support"
The crate currently supports WebP decoding but it would be nice if it also supported encoding as well.  I'd definitely take advantage of it in one of my forthcoming projects.

[2016-10-28 17:01] liftoff commented on #580
Aside: The `image` crate doesn't really need explicit Z_PIXMAP format but rather support for importing raw BGRX data.  That's basically what my little `from_fn()` closure is doing:  Converting BGRX data into RGB before pushing individual pixels into the `ImageBuffer`.  It doesn't seem very efficient to do it this way which is why I think a simple BGRX support option would be nice.

[2016-10-28 17:15] liftoff commented on #582
For reference purposes (in case anyone wants to know how to encode WebP in the mean time), here's how to encode an `ImageBuffer` to WebP via libwebp/libc:

[code]

[2016-11-04 08:27] nwin commented on #503
So actually we lost track of this one and accepted new merges in the mean time. Would it be feasible to add some kind of addition like: New contributions are accepted under MIT/Apache?

[2016-11-04 13:03] bvssvni commented on #503
@Potpourri @ahtn Just a small reminder!

[2016-11-04 13:22] maxsnew commented on #503
I consent

[2016-11-04 17:04] Potpourri commented on #503
I consent.

[2016-11-04 23:05] flying-sheep commented on #503
now only @Doom032 and @burtonageo are missing!

[2016-11-05 14:09] Doom032 commented on #503
I forgot I even contributed to this. I'd even argue that my commit was
trivial so my consent is not necessary. But I won't keep you up.

I consent to relicensing the source code to dual licensed MIT/Apache-2.0

On 05-11-16 00:05, Philipp A. wrote:

[2016-11-11 21:21] darklajid opened #592 "Downsizing and upsizing an image leaves a weird border"
So, there are a couple utilities that use resize() to downsize/upsize and get a blurred pixelated look - think 'protect the content'.

I tried implementing something like that in rust, using this library. Unfortunately the behaviour here seems unexpected.

[code]

Samples attached - a simple screenshot is my input

![input](https://cloud.githubusercontent.com/assets/77554/20230491/a15eca5c-a85c-11

[2016-11-11 21:29] darklajid commented on #592
Great. The issue is hard to impossible to notice in FF for me, given the uploads. If you download the PNG files you'll notice (according to eog, pinta, krita etc..) that the image I'm complaining about, the one created using this library, has a transparent border on the right and bottom side. I'd expect this image to be totally opaque.

[2016-11-21 13:23] sp-1234 commented on #127
there's no need to write decoder, it's done entirely by hardware.

[2016-11-24 06:18] sunjay opened #593 "Empty PNG causes panic"
Trying to save an empty PNG (with dimensions 0x0) causes a panic:

[code]

Saving an empty jpg does not result in any panic. An empty .jpg is saved with no problems.

This should probably be a `Result::Err()` instead since `save()` returns a `Result` anyway.

[2016-11-28 06:04] nwin commented on #593
Indeed, thank you. Tracking as https://github.com/PistonDevelopers/image-png/issues/43.

[2016-11-28 06:04] #593 closed

[2016-11-28 16:56] sunjay opened #597 "Need cheap way to convert between DynamicImage formats"
When opening a JPEG, you get a different DynamicImage enum variant than when you open a PNG. We need some cheap way to convert between the enum variants without copying too much memory. Using `to_rgba()` is really slow. A `into_rgba()` method would be great where it consumes the current dynamic image and returns the new format.

[2016-11-28 21:04] nwin commented on #597
I doubt that there is a cheap way. How do you come to the claim that an `into_rgba` would be much faster? As `Rgba` is bigger than any other variant one needs to reallocate anyway. I'm not arguing that `into_rgba` wouldn't be a good addition, but the speed gain, if any, will be much smaller than you think.

[2016-11-28 22:08] sunjay commented on #597
Darn. Sorry, I was more asking than implying it could be. I know RGBA is bigger, but is there any way to consume an RGB image and do minimal allocations while ending up with an RGBA image?

[2016-11-29 06:15] nwin commented on #597
One could directly unpack into a rgba sized buffer but this probably optimizing on the wrong point. That would be only on excess allocation & copy per image. There probably lower hanging fruits available.

[2016-11-29 07:13] sunjay commented on #597
I see what you mean. We can open this up again if anyone finds a need for it.

Thanks

[2016-11-29 07:13] #597 closed

[2016-12-13 21:48] kryptan opened #598 "What is the meaning of conversion from RGB to luma?"
The [following formula is used](https://github.com/PistonDevelopers/image/blob/master/src/color.rs#L234):

    luma = 0.2126*R + 0.7152*G + 0.0722*B

It is not clear what luma here is supposed to mean.

I can see two explanations for this formula:

  1. This is the same formula which is used in conversion from Rec. 709 RGB to YCbCr to find Y (luma) component. However it seems that it is assumed th

[2016-12-13 22:02] kryptan opened #599 "Alpha blending should be performed in linear color space"
It is generally better to perform alpha blending in linear color space, that's e.g. how it is usually performed on GPU. [Here](http://blog.johnnovak.net/2016/09/21/what-every-coder-should-know-about-gamma/#alpha-blending--compositing) are some example pictures which show difference between gamma-correct and gamma-incorrect blending.

[2016-12-20 21:16] oyvindln commented on #419
So in case there is still interest in this, I've now got a pretty functional deflate encoder written in rust up and running here: https://crates.io/crates/deflate

Then there is also https://crates.io/crates/zopfli if you want to give the option of the absolute maximum(but slow) compression.

[2016-12-21 15:08] bvssvni commented on #419
@oyvindln That's great!

[2016-12-31 05:41] OmarShehata opened #601 "Better error for put_pixel when out of bounds"
If you try to use [put_pixel](http://www.piston.rs/image/image/struct.ImageBuffer.html#method.put_pixel) with something that's out of bounds, it will panic with the following cryptic error:

[code]

This confused me for a while because I wasn't using any vectors or slices in my program that I was aware of. It was not immediately clear because I was only off by one (trying to `put_pixel(400,400)` w

[2016-12-31 05:48] sunjay opened #602 "Use Mention Bot to Promote Review of Pull Requests"
cc @PistonDevelopers/admins @PistonDevelopers/pistoncollaborator (Sorry for mass mentioning everyone)

**Mention Bot:** https://github.com/facebook/mention-bot#readme

There is a TL;DR below.

## Overview

Mention bot analyses git blame information and chooses appropriate people to mention whenever a pull request is created.

![Mention bot](https://cloud.githubusercontent.com/assets/197597/1102303

[2016-12-31 09:04] nwin commented on #602
Especially given limited time available this could also be contraproductive.

Just imagine something gets assigned to someone who doesn't have time to review. Then it would lay there forever because nobody cares as somebody else is assigned to it.

[2016-12-31 11:04] bvssvni commented on #602
I like that people can self merge, then I go look at what they did after receiving an email when I get time. The point with the system, as I understood it, is to get smarter notifications. If people continue to self merge, then it will not change anything in the process, but there might be some better info for people who like to check what happened yesterday, or last week.

Some points to consider

[2016-12-31 12:26] sunjay commented on #602
@nwin @bvssvni

I may have overstated the impact this will have on code reviews. That's something I see improving further down the line. You're right that it's time consuming to review everything in detail, that's why I see this more as a notification method than something to force people to review every pull request. Mention bot doesn't assign anyone to anything. It just helps to automatically pi

[2017-01-03 11:54] baadc0de commented on #257
Sorry if this is the wrong issue to report/ask about this, but is it really ok for the default `new` path to be so much slower as opposed to `from_raw`?

[code]

- image 0.10.4
- rustc 1.15.0-nightly (03bdaade2 2016-11-27)

[2017-01-03 13:43] LaylConway commented on #257
Vec::with_capacity won't give you a Vec with actual values in it, it will just have the *capacity* to hold that amount of values. To create a properly initialized Vec you need to do this: `vec![0; 32768 * 32768]`

[2017-01-03 14:27] baadc0de commented on #257
Apologies :) I thought it must have been something like that... I'll explore more to see what would be the idiomatic rust way to allocate memory once instead of runtime resizing. Thanks for commenting!

[2017-01-08 15:08] waldyrious commented on #469
I wonder if [corrode](https://github.com/jameysharp/corrode) could help here.

[2017-01-09 06:39] kosinix opened #607 "Detach decoders/encoders into its own crate"
Is it possible to place the decoders/encoders into their own separate crates? Similar to png, gif, and jpeg-decoder crates. This will make low level stuff with certain formats possible. For example, animated GIF can be created using the gif crate directly, since piston/image does not yet support it. This will also make piston/image more modular. Third party-crates can also use the encoders/decoder

[2017-01-09 09:53] ideasman42 opened #608 "Detach filters into their own crate (imageproc)"
Image loading is quite well defined for common formats but filters have a very broad scope which approaches filters for graphics and compositing applications, computer-vision, image analysis (see OpenCV).

Its such a large field that it would be better to be split into its own crate so users who only need to load and save images can just depend on the image IO part of this crate.

Since many commo

[2017-01-09 15:42] nox opened #609 "Publish 0.12.1 for byteorder 1.0.0"

[2017-01-09 15:54] oyvindln commented on #609
This might want to wait for https://github.com/PistonDevelopers/image-png/issues/51 too.

[2017-01-09 16:11] nox commented on #609
@oyvindln What wants to wait? We can do as many bumps as we want, no? :)

[2017-01-09 17:30] pix64 commented on #608
Shouldn't these be put under https://github.com/PistonDevelopers/imageproc?

[2017-01-09 18:05] nwin commented on #609
I wonder if we should change our dependencies to caret requirements, thus using png="^0.6" such that we don’t have to bump image for every little bugfix in the dependencies. Do you see any drawback from this?

[2017-01-09 18:25] nwin commented on #609
Ok, I got it wrong, that should already be the case.

[2017-01-09 18:43] nwin commented on #598
What else would you propose to use if no color space information is given? Just averaging all values?

[2017-01-09 20:27] #609 closed

[2017-01-09 20:47] kryptan commented on #598
What I'm more concerned with is what do we use if we have color space information. One of the usages of luma in this library is converting images to grayscale. However, I believe, the correct way to convert images to grayscale is to keep perceived brightness of each pixel in resulting image to be the same as in the original. `image::imageops::grayscale` currently uses luma for this operation and t

[2017-01-11 05:56] ideasman42 commented on #608
Wasn't aware of this, updated issue.

[2017-01-13 21:09] johansen commented on #601
It surprises me that `put_pixel` and `get_pixel` panic on out-of-bounds rather than returning an error. Seems they should return a `Result` to indicate the success or failure of the operation. Un-checked variants could also be provided. This would parallel `Vec` where `get` returns a `Result` but indexing the vector panics on out-of-bounds.

[2017-01-14 05:54] nwin commented on #601
I agree that `get_` might imply wrong expectations, but I would rather remove the methods than to make them "un-panic". I do not see any benefit for a Result::Err on an image indexing operation. This cannot fail unless you have a bug in your code.  The methods on Vec and HashMap are there for convenience since it is more commons for general collections to add  and remove elements. Images usually o

[2017-01-19 17:52] bvssvni opened #612 "The doc comments of `pixels_mut` and `enumerate_pixels_mut` are swapped"
https://github.com/PistonDevelopers/image/blob/master/src/buffer.rs#L304-L324

It is `enumerate_pixels_mut` that returns coordinates of the pixel, and not `pixels_mut`.

[2017-01-19 23:25] johansen commented on #601
Makes sense. More the array model than the vector model, I guess. Thanks for the explanation.

[2017-01-20 14:02] andreymal opened #613 "imageops::overlay for RGBA images is not quite correct"
I'm trying to get behavior like in GIMP and I found a problem with the accuracy.

Add white background (RGBA: [255, 255, 255, 255]) for this image using GIMP and subj:
https://i.imgur.com/FzTt9Us.png

If you compare results pixel-to-pixel, you can get this difference:
https://i.imgur.com/XpmsCfP.png

While debugging, I found that result has numbers like `254.99998`, after `f32 => u8` it is `254`.

[2017-01-20 20:53] nwin commented on #613
Thank you for catching this, `f32::round()` has to be used.

I do not know what causes the different result bit it is not an issue of the accuracy of `f32`. a) because `f32` should be more than enough for that kind of operation and b) because gimp also “only” uses `f32`.

[2017-01-20 21:05] andreymal commented on #613
GIMP result: https://i.imgur.com/SPVVwmO.png
imageops::overlay result with `f32::round()`: https://i.imgur.com/KwBzdvj.png
Diff: https://i.imgur.com/QB9jBDw.png

So `f32::round()` is very bad for me :(

Or you think GIMP has bug too?

[2017-01-20 21:15] nwin commented on #613
As I just said: I do not know what causes the different result but it is neither caused by `round` nor by using `f32`.

[2017-01-20 22:39] andreymal commented on #613
Why do you think that this is not by using `f32`? Something like `0.1 + 0.2 == 0.30000000000000004` — it's enough for errors

[2017-01-21 07:51] nwin commented on #613
No it’s not. This is the wrong place to discuss how binary numbers work, but please have a look at the number you posted. How long would it take until this error would arrive at a place we would care? Just try out `f64` and you will see that it doesn’t make a difference.

I haven’t counted but the error is about 12 digits away from our issue (which in fact proves that you used `f64` for your examp

[2017-01-21 08:24] andreymal commented on #613
I think you're wrong

[code]

This code prints `2.9999998` instead of `3.0`, as you can see `f32` accuracy is still low and error can accumulate.

Because `0.1f64 + 0.2f64 == 0.30000000000000004` you should see `f64` accuracy is low too, of course ;)

[code]
Prints `5.999999999999998` instead of `6.0`

If you add

`println!("{} {} {} {}", max_t * out_r, max_t * out_g, max_t * out_b, max_t * alpha_

[2017-01-21 09:49] nwin commented on #598
@kryptan I added this to [`image_buffer`](https://github.com/PistonDevelopers/image_buffer/blob/master/src/color_model/gray.rs). AsIs `Rgb<f32>` is defined to be in linear color space and `Rgb<uX>` in gamma compressed color space. Converting between this two formats would automatically perform the gamma compression/expansion. This would also fix #599 if implemented.

Do you think that this approac

[2017-01-21 10:36] nwin commented on #613
Probably duplicate of #599.

[2017-01-21 10:36] #613 closed

[2017-01-21 10:48] andreymal commented on #613
@nwin it will incompatible with GIMP? :'(

[2017-01-21 10:57] retep998 commented on #598
The absence of color space information simply means to assume the default, which is gamma encoded sRGB, because that's what practically all monitors and cameras are supposed to be calibrated for.

[2017-01-21 19:50] kryptan commented on #598
@nwin Yes, I think using linear values when using floating point numbers is the right approach. This is e.g. how it is generally done on GPU - if texture is 8-bit sRGB then it is converted to linear on read, all rendering is done using linear values, and the final result is then converted back to 8-bit sRGB (or whatever format is necessary for the target monitor).

This would definitely need good

[2017-01-21 20:39] retep998 commented on #598
The GPU actually has specific color formats for sRGB. So when you load up some u8 data you specifically have to tell the driver that it is sRGB. I think it may be better to have a type parameter to differentiate between color spaces (with the only two options for now being linear and sRGB), provide methods to convert between those two spaces, and implement most operations *only* on the linear vers

[2017-01-23 15:59] andreymal commented on #613
@nwin I wrote `blend` implementation using `u32` instead of `f32` (range of numbers `0 .. 255` instead of `0.0 .. 1.0`) and this is fully compatible with GIMP too. Just note.

[2017-01-23 16:01] andreymal commented on #613
Also, this is not duplicate, of course. #599 describes other problem with blending.

[2017-02-01 17:17] RandomInsano opened #615 "Make affine transforms destructive"
Currently, a whole new buffer is created and the pixels copied over for things such as horizontal/vertical flip, rotation, etc. This doubles the memory required even if it's not needed. If it makes sense to make destructive versions of these, I'd be game to implement them.

Thoughts?

Code reference [here](https://github.com/PistonDevelopers/image/blob/b0379020e2fd3e2d7986a4821bf7802aebac642d/src/

[2017-02-01 18:35] RandomInsano opened #616 "Efficient way to blank an ImageBuffer/DynamicImage?"
It's surprisingly difficult to figure out how to blank an image (I've been at it for two hours). There are no examples save the Fractals example (I've repurposed that), and I *think* there's a constructor for an ImageBuffer somewhere that lets you initialize a buffer with a particular colour set.

Is there a reason why you can't blank out an existing ImageBuffer? I'd imagine it could be a pretty q

[2017-02-08 08:08] ArtemGr opened #618 ""scan makes use of unset dc huffman table""
When I scale down the following image
http://images.icecat.biz/img/gallery/img_29375333_high_1482475603_0907_3862.jpg
and then try to load it back, I get the "scan makes use of unset dc huffman table" error
(and GraphicsMagick rejects the image with "Huffman table 0x00 was not defined").

This happens with a lot of ICECat images.

[code]

The problem vanishes when I downgrade the image crate to "0

[2017-02-08 14:01] ArtemGr commented on #618
Test case:

[code]

Fails on Windows 10, Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz, rustc 1.16.0-nightly (bf6d7b665 2017-01-15).

[2017-02-09 02:57] icefoxen commented on #577
I have a use case: I want to be able to write a library that loads images from files without knowing ahead of time what they are.

We can guess based off the file name, or we can make a much more reliable guess based on the file contents.  I know which I'd prefer.

[2017-02-09 08:22] jdpage commented on #618
Does it fail if you don't resize? If so, it's probably a bug in the JPEG encoder introduced in 2c06a405ac7e3a04

[2017-02-09 08:28] ArtemGr commented on #618
Yeah, turns out it does.

[code]

[2017-02-11 07:29] #618 closed

[2017-02-11 11:22] NeoLegends opened #620 "From / Into for DynamicImage"
I noticed there are conversion methods for `DynamicImage` into the various other image types, but none of these is consuming. For my tool I work with RGBA data only, so I convert every image I load into RGBA before usage. However, `DynamicImage::to_rgba()` always creates a copy, which would be unnecessary in the case I already am dealing with the RGBA subtype. I suggest that `From` / `Into` implem

[2017-02-11 12:20] nwin commented on #620
That is actually a little bit tricky to implement.

Furthermore I doubt that the gain will be huge, so if your program is slow that probably has another cause than one excess allocation per iteration.

[2017-02-11 12:39] NeoLegends commented on #620
Why would it be? It might be a little verbose because one would have to do the matching, but not tricky.

Well, I consider this to be quite the waste of memory, to be honest. A 1920x1080 at 8bit Rgba already takes up 8 MB of memory. Just converting it into it's inner form will allocate another 8 megs that could've been avoided in some / most cases. And 1920x1080 is not a large image, if we're talk

[2017-02-11 12:55] nwin commented on #620
I would be tricky, because you would need to operate on raw bytes, drop all abstraction and handle the subpixels manually.

I wouldn’t be so sure about the waste of memory either, you assume that you can just resize a vector without reallocating and moving which isn’t always true. The only difference would be that you drop you additional image faster. Have a look: https://is.gd/sA2jMm

It would pr

[2017-02-11 13:02] NeoLegends commented on #620
Oh, seems like we're talking about different things here! 😆

I just want a convenient and more efficient way to convert `DynamicImage` (the enum) into it's inner variants (`RgbImage`, `RgbaImage`, etc.). The actual conversion in the case where the source type and the target type of the conversion does not match up, can remain.

Basically I want something like [this](https://docs.rs/image/0.12.2/im

[2017-02-18 16:28] pedrocr commented on #426
I'd like to propose a better API to handle this. For most uses you want one of two things:

* An sRGB image that you will display on screen or send to another bit of code that only cares about image display
* A linear buffer to be used for further processing in your own specialized code

So the best way to handle this would be to have two methods:

* to_rgb() will always return an 8bit sRGB image

[2017-02-19 08:25] nwin commented on #426
Sounds sensible except I would scale 16bit image to `1.0`. Im currently working on a new image buffer library which provides some abstractions for exactly these uses cases (https://github.com/PistonDevelopers/image_buffer). I would prefer PR to it first instead of changing the API here.

[2017-02-19 10:44] pedrocr commented on #426
When I say "16bit images will just be converted to f32 in that range" I mean turn ```0..65535``` into ```0.0..1.0```. Is that what you mean?

[2017-02-20 13:34] StelarCF opened #621 "Support for DDS?"
Currently it's not supported and is a fairly common format for storing textures.

[2017-02-24 17:15] nagisa opened #622 "No sanity checking in BMPDecoder"
It is possible to construct small, but malformed BMP images which may result in denial-of-service.

Following two images (base64-encoded) have unusually big dimensions.

### slow2.bmp

slow2.bmp: PC bitmap, Windows 98/2000 and newer format, 32 x 6946848 x 32

Takes 66 seconds to decode.

[code]

### overalloc.bmp

overalloc.bmp: PC bitmap, Windows 98/2000 and newer format, 1111498827 x 1083981 x 1

[2017-02-24 17:21] nagisa opened #623 "BMP oversized pallete is not handled properly"
Following (base64-encoded) image has malformed header (palette/format), but decoder does not safeguard against it and attempts to read potentially a huge amount of data, which could result in denial-of-service:

[code]

[2017-02-24 17:44] nagisa opened #624 "No header sanity checking in ICODecoder"
Following base64-encoded ico makes the decoder cause a OOM condition:

[code]

This is what `file` says: MS Windows icon resource - 1 icon, 32x255, 255 colors, 65535 planes, 65535 bits/pixel

Both GIMP and eog handled the file fine by figuring out the file is invalid.

[2017-02-24 17:52] nagisa opened #625 "Out-of-bounds in gif::Decoder"
Following base64-encoded gif image causes the gif decoder to panic with OOB condition:

[code]

or a shorter

[code]

[2017-02-24 20:21] nwin commented on #622
That is actually not only a problem of malformed images…I don’t have a good recipe of handling big images in general. It is easily possible to run out of memory when encoding big images.

[2017-02-24 20:25] nagisa commented on #622
Right, but with valid big images you don’t need to have somebody upload said big image to you :) The OOM reproducer is 500 bytes in size and very viable to be sent to some API endpoint many times in a row.

[2017-02-24 20:27] nwin commented on #625
I cannot reproduce that error. It doesn’t panic but returns an error. Can you please provide the code you used to test this?

[code]

[2017-02-24 20:28] nwin commented on #622
I am not disputing that.

[2017-02-24 20:32] nwin commented on #625
Ahh, I see. I didn’t use the base64 encoder correctly.

How do you come to this images anyway? If you used some fuzzing I would really appreciated if you would share the code.

[2017-02-24 20:32] nagisa commented on #625
The code I used is:

[code]

where sha1sum of oob.gif is 3f673b772a1e56da103e6b480ee3af7975c3c9d7 (eyeballing the base64 of the image seems to match the first example I pasted, so no mistakes copy-pasting)

[2017-02-24 20:33] nagisa commented on #625
And yes, images are generated by the quite new [cargo-fuzz](https://github.com/rust-fuzz/cargo-fuzz) utility we’re developing. It just happened that I had a bright idea to fuzz image on the way home :)

[2017-02-24 20:36] nwin commented on #625
I’m a bit disappointed that this went through, I actually let afl run for a while on the gif decoder (see https://github.com/PistonDevelopers/image-gif)…

[2017-02-24 20:56] nwin commented on #625
Closed via https://github.com/PistonDevelopers/image-gif/commit/375587539a8654ed56827b0097dfa5b2238a83f6

[2017-02-24 20:56] #625 closed

[2017-02-25 07:22] nwin commented on #623
I cannot see any specific problem with the palette handling code, closing as duplicate of #622.

[2017-02-25 07:22] #623 closed

[2017-02-25 16:12] nagisa opened #627 "PPMDecoder takes a large amount of memory/time to fail decoding this non-PPM image"
This small file causes PPM decoder to allocate what seems to be about 2.5GB of resident memory:

[code]

### Test code:

[code]

#### Tested in two ways:

[code]

and

[code]

### How I found it:

fuzzing against gif corpus resulted in OOM at a particular time when my system was low-ish on memory.

### Other notes:

If compiled without optimisations, decoder takes a very long time (10s of seconds)

[2017-02-25 16:46] nagisa opened #628 "PPMDecoder cannot read this PPM image generated by GIMP"
[code]

Is a base64 encoding of a PPM image exported by GIMP. The new PPMDecoder cannot decode it with error:

[code]

for code

[code]

---

The cause most likely is because GIMP inserts something comment-like into the header of the file:

[code]

where our decoder does not handle anything like this.

[2017-02-25 17:56] nagisa opened #629 "PPMDecoder: multiply with overflow"
Decoding a PPM image with huge dimensions

[code]

fails with

[code]

when debug-assertions are enabled.

### Code

[code]

---

Ideally decoder would return an Err instead of panicking.

[2017-03-06 19:13] oyvindln commented on #622
So I'm looking at fixing this issue, and I've added some extra checks to error on invalid values  though I'm not sure how to deal with images that specify very large dimensions in a good way. The BMP format has a size field in the header, but it's not required to be set (or could be set to a silly value) so it's not something that can be relied on. Since the decoder operates on a reader, it can't

[2017-03-07 06:22] nagisa commented on #622
Firefox approach doesn't really work here as for Firefox an assumption that
image will eventually be shown on screen is true (or used to be, anyway.

I feel like it would be fine to just allocate a vector in size similar to
the file size. A cost of reallocation, if it is ever necessary will be
extremely low anyway.

On Mar 6, 2017 9:13 PM, "oyvindln" <notifications@github.com> wrote:

So I'm looki

[2017-03-07 09:05] oyvindln commented on #622
The issue here is that the decoder doesn't currently have a way to get the file size as the underlying object it operates on is only required to implement Read + Seek and the BMP header isn't required to specify it. I suppose the API could be altered so that this info is passed to the decoders (this isn't' really an issue unique to BMP images), though that wouldn't work for streams so maybe one wo

[2017-03-07 17:02] nwin commented on #622
Yes, one could specify a maximum of memory that should be used or specify the desired boundaries than one could either resize on the fly or only decode parts of the image. A gigapixel image (jpeg) is a valid use case which is mot covered by this library.

[2017-03-21 22:16] abonander opened #631 "Support JPEG 2000"
https://www.reddit.com/r/rust/comments/60os8v/jp2_decoding_to_calculate_dhash_values/

[2017-04-05 18:14] NathHorrigan opened #633 "How do I change color of pixel?"
As title suggests...

[2017-04-05 19:49] hako commented on #633
@NathHorrigan Take a look at [`put_pixel`](https://docs.rs/image/0.12.3/image/trait.GenericImage.html#tymethod.put_pixel).

Example:
[code]
This should set the pixel at `(x,y)` to white.

[2017-04-06 17:44] NathHorrigan commented on #633
@hako - Thanks worked, I figured it was put_pixel but coudn't figure out how the Rgba worked
Thanks!!

[2017-04-06 17:56] vitvakatu commented on #633
Solved

[2017-04-06 17:56] #633 closed

[2017-04-07 01:06] nbigaouette-eai commented on #558
Totally supports this.

I was surprised to see `&mut` in `SubImage`'s [`new()` method](https://docs.rs/image/0.12.3/image/struct.SubImage.html#method.new) or in `GenericImage`'s [`sub_image()` method](http://www.piston.rs/image/image/trait.GenericImage.html#method.sub_image).

I associate a SubImage with a slice into a vector for example. It is possible to have a slice to a immutable vector so I t

[2017-04-21 09:29] tomaka opened #635 "ImageBuffer doesn't implement Debug"

[2017-04-21 14:25] bvssvni commented on #635
Can this be a patch? Is it a breaking change when implementing a new trait?

[2017-04-21 14:29] nabijaczleweli commented on #635
Very rarely so, and `Debug` strictly extends capabilities, so it's non-breaking in any way.

[2017-04-21 16:37] #635 closed

[2017-05-01 01:17] richinseattle opened #639 "Panic in rustc building image"
tested with image 0.12 and 0.13 and image-git versions when compiling with rust nightly. Reporting to rust, but figured I'd let you know.

C:\code\image>git pull
Already up-to-date.

C:\code\image>cargo build
   Compiling image v0.13.0 (file:///C:/code/image)
error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug

[2017-05-01 01:25] #639 closed

[2017-05-01 22:37] johansen opened #640 "Support for binary images"
I need a way to represent an image mask, i.e. an overlay on an image that indicates which pixels are included and which are not. This implies a binary image type backed by `bool` primitives. To my knowledge this is unsupported in the `image` crate because `Pixel` has no corresponding implementation, nor is there an appropriate member of `color::ColorType`.

I'm filing this issue as a feature reque

[2017-05-01 22:49] johansen commented on #640
Alternate request: make modules `buffer` and `color` public so I can attempt my own implementation of a binary image.

[2017-05-01 23:28] johansen commented on #640
Attempting my own implementation using a copied version of the `define_colors!` macro and `Blend` and `Invert`, I can get very close to a binary image implementation very quickly. However, the need for `bool` to implement `Primitive` and thus `Num`/`NumCast`/`Bounded` is not something I can address on my own since I don't own any of those traits.

[2017-05-03 04:13] nwin commented on #451
You can have a look at the incomplete https://github.com/PistonDevelopers/image_buffer crate. Contribution and suggestion would be very welcome.

[2017-05-05 14:43] aepsil0n opened #641 "UnsupportedError not reachable when using default features"
When I import `image 0.13.0` into a fresh project and compile, I'll get this error

[code]

I guess it is because all the features are active by default and thus there is nothing that can't be handled. Probably should be annotated with a more complex `#[cfg(...)]` thingy to account for this case?

I am doing this on Rust 1.15.1. I am not up-to-date enough to know whether that changes anything.

[2017-05-05 15:12] nliberg opened #642 "Compilation error when using image v0.13.0 as a dependency"
Compiling a project that depends on image v0.13.0 using rust 1.16.0-nightly results in the following error:

[code]
It seems that all image formats are enabled by default which makes the default arm in that match expression unreachable. I'm not sure whether Rust supports any mechanism that lets one instruct the compiler that the match arm being unreachable is ok.

[2017-05-05 15:14] nliberg commented on #642
aepsil0n beat me to it with issue #641. Closing this one since it's a duplicate.

[2017-05-05 15:14] #642 closed

[2017-05-05 15:52] nbigaouette-eai opened #643 "Serde support"
I have `struct` containing a `ImageBuffer<Rgb<u8>, Vec<u8>>` which needs to be serialized and deserialized using serde.

Could support for serde be added to this crate? Is that feasible?

[2017-05-06 08:58] kaegi opened #644 "Compilation error with 0.12.4 and `default-features = false`"
Compiling version 0.12.4 as a dependency with `default-features = false` leads to compilation errors.
All projects that build on `0.12.*` with that setting will therefore not be able to compile anymore.

[code]

[2017-05-06 23:00] lsaether opened #645 "image 0.13.0 compile error bug"
When I try to compile a crate after importing the image crate, my project panics while trying to build. Returning:

 Compiling image v0.13.0
error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports

thread 'rustc' panicked at 'assertio

[2017-05-06 23:12] pix64 commented on #645
This is a bug with the rust compiler it's self and not image. I imagine
this bug was recently introduced in the nightly version.

On May 6, 2017 7:00 PM, "lsaether" <notifications@github.com> wrote:

When I try to compile a crate after importing the image crate, my project
panics while trying to build. Returning:

Compiling image v0.13.0
error: internal compiler error: unexpected panic

note: the

[2017-05-07 10:31] nwin commented on #644
Closing as duplicate of #645.

[2017-05-07 10:31] #644 closed

[2017-05-07 18:12] kaegi commented on #644
I don't think it's a duplicate, because changing the version to 0.13.0 does work (leaving `default-features = false`). [Here](https://github.com/emk/subtitles-rs/pull/6) is a pull request for some crates that are affected by the compilation error in 0.12.4 but work fine when updating to 0.13.0.

[2017-05-10 05:09] nwin commented on #641
I cannot reproduce this problem with the most recent version of Rust. I tried both rustc 1.19.0 and  1.17.0. It didn’t occur with older versions either. Thus it seems to be an issue temporarily introduced in some Rust version. Is there any specific reason you need to use 1.15.1?

[2017-05-11 09:15] aepsil0n commented on #641
No, I was only using it, because that's the latest version shipped with my distro. No problem to update my compiler, but I thought it might be worth bringing it up.

[2017-05-14 02:16] jtojnar commented on #577
I just wanted to try [fireplace](https://github.com/Drakulix/fireplace), which uses this crate for loading background images. Now, I have `~/.config/bg/current` symlinked to my background of choice so that I can use it across WMs. And since the background image can sometimes be a JPEG but very often it is a PNG, the symlink does not have an extension.

[2017-05-18 08:07] Ritiek opened #648 "How to save SubImage?"
I opened (`image::open()`) and cropped (`imageops::crop()`) a local image and now I want to save it. If I use `.save()` it gives me

How can I save my SubImage?

I am new to Rust, so sorry if this is obvious.

[2017-05-18 14:45] Ritiek commented on #648
Nevermind. `image::crop()` seems to work great as well! So, no need to import additional `imageops` for just cropping the image.

Thanks a lot for building this library. :)

[2017-05-18 14:45] #648 closed

[2017-05-20 19:43] lukors opened #650 "Upscaling with linear interpolation doesn't give expected result"
Using the `image::FilterType::Triangle` filter seems to give incorrect results. I'm assuming that a triangle filter is the same thing as what other software usually calls a "linear" filter, because in the documentation it says "Linear Filter" under that filter type (source: https://docs.rs/image/0.13.0/image/enum.FilterType.html ).

This is the code I run:
[code]

This is my input image:
![heart](

[2017-06-06 14:26] drahnr opened #655 "panic on simple 2x2 pixel gif"
Version `0.13.0`

`panicked at 'called `Result::unwrap()` on an `Err` value: FormatError("Image truncated")'`

    #[test]
    fn it_works_for_gif() {
        let path = Path::new("tests/assets/test_image.gif");
        let img = from_path(&path);
        // there is more stuff here, but it does not matter
    }

where (the actual implementation as a little mote complicated)

[code]

The image was

[2017-06-09 09:41] application-developer-DA opened #656 "Current master (as well as the latest version from crates.io) fails during the build"
It seems to be some problem with dependencies.

The error message is:
[code]

P.S.: The patch version for `num` has been updated today, the crate itself is compilable, so I think something is wrong with the dependencies / compatibility between `num*` crates used from `image`.

[2017-06-09 09:46] application-developer-DA commented on #656
Ok, I think I found the issue. The problem seems to be in this file in `Cargo.toml`:

`num-rational = { version = "0.1.32", default-features = false }`

When I remove `default-features = false`, everything compiles well again. Is there really a need to keep default features disabled?